.complete{
    text-decoration: line-through;
    text-decoration-color: navy;
  
}
.item{
      display:flex;
      justify-content: center;
      align-items: center;
      color:white;
   
}  
p{
    font-family: cursive;
}