body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-family: "Arial Black", sans-serif;
  font-size: 32px;
  color: #007bff;
  margin-bottom: 20px;
}

.subject-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.subject-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.subject-btn:hover {
  background-color: #0056b3;
}

#quiz {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
