html {
    height: 100%;
    width: 100%;
  }
  h1{
    text-align: center;
    color: antiquewhite;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  body{
    background-color: #ed0c8c;
  }
  .btn{
      cursor: pointer;
      border: 3px solid #f8f8f7;
      border-radius: 10px;
      display: block;
      padding: 13px 91px;
      margin: auto;
      margin-top: 25px;
      align-items: center;
      justify-content: center;
      background-color: #bf00ff;
      font-size: 28px;
      height: 78px;
      width: 26%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      font-weight:bold;
      font-size: 2rem;
   }
    .btn:hover {
      background-color: hotpink;
      box-shadow: 2px 2px 20px #efd7e1;
      transform: scale(1.1);
    }