body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 90%;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #007BFF;
  text-align: center;
  font-size: 28px;
}

.game-container {
  text-align: center;
}

.words {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.6;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type="text"] {
  font-size: 16px;
  text-align: center;
  width: 85%;
  margin-bottom: 20px;
  border: 2px solid #007BFF;
  padding: 10px 16px;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #0056b3;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
