


td{
    height: 51.8px;
    width: 70px;
    text-align: center;
    font-weight: bolder;
}
body{
    margin-top: 0%;
    background-color: #4d6bce;
}
#playBox{
    margin-left: 40%;
}
.yellow{
    background-color: antiquewhite;
}
.violet{
    background-color: #9d099d;
}
.green{
    background-color: #42b542;
}
.deepskyblue{
    background-color: deepskyblue;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: hotpink;
}
#l1{
    position: absolute;
    top: 71%;
    transform: rotate(38deg);
    left: 52%;
    width: 161px;
}
#l2{
    position: absolute;
    top: -2%;
    left: 70%;
    width: 200px;
    height: 533px;
    transform: rotate(-18deg);
}
#l3{
    position: absolute;
    transform: rotate(32deg);
    width: 161px;
    top: 1%;
    left: 40%;
    height: 228px;
}
#l4{
    height: 253px;
    width: 161px;
    position: absolute;
    top: 42%;
    left: 82%;
}
#l5{
    height: 171px;
    width: 161px;
    position: absolute;
    transform: rotate(32deg);
    top: 1%;
    left: 80%;
}

#player{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;
}
#choose_player{
    height: 70px;
    width: 275px;
    text-align: center;
    border: solid floralwhite 4px;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(157, 66, 140);
    color: floralwhite;
    border-radius: 22px;
    margin-top: 14px;
    font-family: monospace;
    cursor: pointer;
}
#color_choose{
    font-size: x-large;
    color: floralwhite;
    font-weight: bolder;
    position: absolute;
    top: 30%;
    visibility: hidden;
}

#color_choose select{
    height: 50px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    background-color: deeppink;
    border: solid 4px floralwhite;
    border-radius: 20px;
    margin-top: 2%;
}
#play{
    HEIGHT: 70px;
    width: 200px;
    background-color: red;
    color: floralwhite;
    border: 4px solid floralwhite;
    border-radius: 40px;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: monospace;
    position: absolute;
    top: 80%;
    left: 7%;
    text-align: center;
    cursor: pointer;
}

#image_slide{
    position: absolute;
    top: 30%;
    width: 460px;
    height: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 68px;
    border: solid 6px floralwhite;
}
#poster{
    height: 100%;
    width: 100%;
}
#dice{
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid floralwhite 4px;
    top: 55%;
    left: 12%;
    visibility: hidden;
}
#dice img{
    height: 100%;
    width: 100%;
}

#color_box{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid black 4px;
    top: 73.6%;
    left: 26%;
    position: absolute;
    z-index: -1;
    background-color: rgb(252, 195, 81);
}