

.row-widget.stButton {

}

.css-ocqkz7 {
    width: 50%;
}

.css-ocqkz7, .css-ocqkz7 {
    margin: auto;
    max-width: 1000;
}

.css-1r6slb0 {
    width: 50px;
}

.css-ocqkz7 {
    padding: 25px;
}

