* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 100vh;
    background: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 80%, 0% 100%);
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
.menu a:first-child {
    border-bottom: 2px solid rgb(118, 113, 112);
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.left img {
    width: 100%;
    flex-basis: 50%;
    margin-right: 100px;
}
.left-about{
  max-width: 500px;
  flex-basis: 50%;
 margin: auto;
}
.right-about img{
  width: 80%;
  flex-basis: 50%;
  text-align: center;
}
.right-about {
    flex-basis: 50%;
    max-width: 400px;
}
.right p {
    font-size: 18px;
    margin: 10px 60px 0px 0px;
    color: rgb(118, 113, 112);
    padding: 0px 30px 0px 0px;
}
h1 {
    font-size: 40px;
    color: rgb(118, 113, 112);
}
.Ag {
    color: rgb(209, 6, 3);
    font-family: "georgia", garamond, serif;

}
#about{
  padding: 50px 0px;
}
.about-row{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-about p{
    font-size: 18px;
  margin-top: 15px;
  text-align: justify;
}
.k-btn{
  margin: 10px 0px;
  padding: 10px;
  color: white;
  border: none;
  background: rgb(209, 6, 3);
  font-weight: 700;
}
#form{
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 60px;
  background: rgba(0,0,0,0.05);
   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 80%, 0% 100%);
}
#form input{
display: flex;
padding:2px;
width:100%;
margin: 3px;
}
#title{
  font-weight: bold;
  color: rgb(209, 6, 3);
}
.logo img {
    padding: 10px;
    width: 100px;
    border-radius: 50%;
}
.icon img {
    width: 35px;
}
#services{
  padding: 50px 0px;
}
.services-info{
  text-align: center;
}
.services-info p{
font-size: 25px;
font-weight: bold;
}
.services-row{
  display: grid;
  grid-template-columns: repeat(3, 250px);
grid-auto-rows: minmax(150px auto);
grid-gap: 3em;
justify-content: center;
padding-top: 15px;
}
.services-box{
  box-shadow: 2px 3px 5px grey;
  padding: 15px;
  background-color: rgb(255, 203, 202) ;
  text-align: center;
}
#client{
  padding: 100px;
  background: url('./images/fitness-icon.png');
  background-repeat: no-repeat;
  background-size: 35% 35%;
  background-position: top right; 
}
.member-card img{
  width: 120px;
  height: 130px;
}
.member-card{
  padding-top: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
}
.member-card p, h2{
  margin: 20px 0px;
}
.member-card .icon img{
  width: 5%;
  height:5%;
}
.contact-right img{
  width: 35px;
}
.contact-right h3{
  padding: 10px;
}
#contact{
  padding: 30px 0px;
}
.contact-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-left{
  flex-basis: 50%;
  padding-top: 50px;
}
.contact-right{
  flex-basis: 50%;
  margin: auto;
  max-width: 450px;
}
.contact-form{
  width: 70%;
  text-align: center;
  margin: auto;
}
.contact-form input[type="text"]{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}
textarea{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}
.contact-form .k-btn{
  width: 200px;
}
.contact-form p{
  margin-top: 10px;
  margin-bottom: 20px;
}
#footer{
  display: flex;
  justify-content: space-around;
  background: black;
  padding: 10px;
  color: white;
  align-items: center;
}