<html>
  <app-navbar></app-navbar>
  <body>
    <div class="manage-container">
      <div class="heading-container">
        <span><button routerLink="../all" routerLinkActive="active" class="back"><i class="fa fa-chevron-left" aria-hidden="true"></i></button></span>
        <span class="heading">Overdue Tasks</span>
      </div>
      <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">ID</div>
            <div class="col col-2">Task</div>
            <div class="col col-3">Due Date</div>
            <div class="col col-4">Status</div>
          </li>
          <li *ngFor="let hero of todos" class="table-row">
            <div class="col col-1" data-label="Job Id">{{hero.id}}</div>
            <div class="col col-2" data-label="Customer Name">{{hero.task}}</div>
            <div class="col col-3" data-label="Amount">{{hero.dueby}}</div>
            <div class="col col-4" data-label="Payment Status">{{hero.status}}</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>


              
