
*{
    padding:0;
    margin:0;

}
h1{
    transform: translate(800px 800px);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
background-color: 	DeepSkyBlue;
    overflow: hidden;
}
#li1{
    color:white;
    text-align: center;
}
#li2{
    text-align: center;
    color:Fuchsia;
}
#main1{
   
box-shadow: 2px 2px 100px black;
    background-color: Fuchsia;
    
}
#main2{
    box-shadow: 2px 2px 100px black;
    background-color: white;
    transform: translateY(-80px);
}
#main3{
    box-shadow: 2px 2px 100px black;
    background-color: 	Fuchsia;
    transform: translate(20px,-120px);
}
#main4{
    box-shadow: 2px 2px 100px black;
    background-color: white;
    transform: translate(50px,-80px);
}
#main5{
    box-shadow: 2px 2px 100px black;
    background-color: 	Fuchsia;
    transform: translateX(40px);
}
#main6{
   
    box-shadow: 2px 2px 100px black;
        background-color: Fuchsia;
        transform: translateY(80px);
        
    }
    #main7{
        box-shadow: 2px 2px 100px black;
        background-color: white;
        transform: translate(-120px,180px);
    }
    #main8{
        box-shadow: 2px 2px 100px black;
        background-color: 	Fuchsia;
        transform: translate(-330px,240px);
    }
    #main9{
        box-shadow: 2px 2px 100px black;
        background-color: white;
        transform: translate(-560px,190px);
    }
    #main10{
        box-shadow: 2px 2px 100px black;
        background-color: 	Fuchsia;
        transform: translate(-700px,100px);
    }
div
{ border-radius: 50%;
   
    width:5%;
    color: black;
    height:10%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 1s;
    margin-bottom: 40px;
}
div:hover{
height: 100%;
    width:200px;
}
li{
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-top: 30px;
}
#ul1{
margin-bottom: 120px;
}
#ul3{
    margin-top: 200px;
    }
    i{
        margin-right: 40px;
        margin-left: 20px;
    }
  
    @keyframes textshine {
        0% {
            background-position: 0% 50%;
        }
        
        100% {
            background-position: 50% 100%;
        }
    }
 