.banner{
    position: relative;
    height: 448px;
    color: #fff;
    object-fit: contain;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}
.banner_fade{
    height:7.4rem;
    background-image: linear-gradient(
        180deg, transparent, rgba(37,37,37,0.6),#111
    );
}
.banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51,51,51,0.5);
}
.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}