.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-color: #111;
}
.nav_content{
    display: flex;
    justify-content: space-between;
}
.nav_logo{
    position: fixed;
    left: 0px;
    width: 110px;
    cursor: pointer;
    padding-left: 20px;
    object-fit: contain;
}
.nav_avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
}