*{
    margin: 0;
    padding: 0;
    list-style: none;
/* overflow-x: hidden; */

}


.navbar{
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
  

}
.navbar1 ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}
.navbar1 ul li::after{
    content:'';
    height: 2px;
    width: 0%;
    display: block;
    background-color: rgb(57, 37, 131);
    margin: auto;
    transition: 0.5s;
}
.navbar1 ul li:hover::after{
    width: 99%;



}
.imglogo:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.imglogo{
    padding-left: 10rem;
    
}

.logo{
    padding-right: 6rem;
}
.icons{
    padding-left: 1rem;
}
.backround1{
    position: relative;
    height: 40rem;
    background-image:url(./bg-news-pc.png)
}
.img1{

    height: 80vh;
    background: url(./111.webp);
    animation: img1 15s infinite;

}
@keyframes img1{

20%{
    background: url(./13.jpg);
}

40%{
    background: url(./12.webp);
}

60%{
    background: url(./13.jpg);
}

80%{
    background: url(./15.jpg);
}

100%{
    background: url(./14.webp);
}

}
.img1 img{
position: absolute;
width: 90%;
height: 90%;
top: 8%;
left: 5%;

}
.text1{
    align-items: center;
    height: 100px;
    padding-top: 4%;
     padding-left: 45%;
     font-size: 25px;
     padding-bottom: 1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.typescars ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 45px;
    padding-top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   cursor: pointer;
}
.typescars ul li::after{
    content:'';
    height: 2px;
    width: 0%;
    display: block;
    background-color: rgb(57, 37, 131);
    margin: auto;
    transition: 0.5s;
}
.typescars ul li:hover::after{
    width: 99%;

}
.cars{
    margin-left: 12%;
}
.cars:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

.carprice{
    padding-top: 22px;
    display: flex;
    height:60px ;
    padding-left: 25%;
    flex-direction: row;
    gap: 2rem;

}
.colContent{
    color: rgb(75, 71, 74);
    gap: 1 rem;
    cursor: pointer;
}
.column1 h2{
    color: rgb(33, 33, 105);
    font-size: 20px;
    cursor: pointer;
}
.column2{
    color: rgb(71, 67, 67);
}
.column3{
    color:rgb(71, 67, 67);
    padding-bottom: 10%;
}
.column4{
    color:rgb(71, 67, 67);
}
.container{
   justify-content: center;
    display:flex;
    height: 50px;
    padding-top: 5%;
    padding-bottom: 3%;

}
.box1:hover{
    border: 1px solid #002c5f;
    background: #002c5f;
    transition: 0.5s;
}
.box1{
    padding: 15px 20px;
    margin: 5px;
    background-color: #918989;
    width: 13%;
    text-align: center;
    color: white;
    font-size: 15px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.new{
    height: 100px;
    background-color:#002c5f;
    color: white;
    padding-top: 5%;
   cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new h2{
    padding-left: 17%;
    font-size: 20PX;
}
.new h1{
    padding-left: 17%;
}
.pics{
    height: 70vh;
    display: flex;
    justify-content: center;

    
}
.pics1:hover{
    transform: scale(1.1);
    transition: .5s ease;
}
.pics1{
   padding-top: 5%;
   padding-left: 1%;
   padding-bottom: 5%;
   
   
}
.pics1 h6{
    color: #002c5f;
}
.pics1 h4{
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.step1{
    height: 70vh;
    display: flex;
    justify-content: center;

}
.pic1{
    padding-top: 5%;
    padding-left: 1%;
    
}
.pic1 h6{
    color: #002c5f;
}
.pic1 h4{
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.step1{
    height: 80vh;
    display: flex;
    justify-content: center;

}
.pic1:hover{
    transform: scale(1.1);
    transition: .5s ease;
}
.pic1{
    padding-top: 5%; 
    padding-left: 1%;
     
}
.pic1 h6{
    color: #002c5f;
}
.pic1 h4{
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.slide{
    height: 60vh;
    background: url(./2.webp);
    animation: slide 10s infinite;

}
@keyframes slide{

25%{
    background: url(./4.webp);
}

50%{
    background: url(./1.jpg);
}

75%{
    background: url(./3.jpg);
}

100%{
    background: url(./5.webp);
}

}
.know{
    
    justify-content: center;
    display:flex;
    height: 50px;
    padding-top: 5%;
    padding-bottom: 3%;

}
.butn{
    padding: 17px 25px;
    margin: 5px;
    background-color:#002c5f;
    width: 15%;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
   
}
.social{
    height: 100px;
    background-color:#002c5f;
    color: white;
    padding-top: 5%;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social h2{
    padding-left: 17%;
    font-size: 15PX;
}
.social h1{
    padding-left: 17%;
}
.news{
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 30px;
    background-color: #dad1d1;
    padding-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newscontent{
      height: 400px;
      background-color: #dad1d1;
}
.inside{
    
    width: 1000px;
    height: 274px;
    background-color: white;
    margin-left: 17%;
    padding-top: 4%;
    cursor: pointer;
    
    

}
.inside h2{
    text-align: center;
    padding-top: 2%;
    line-height: 3rem;
    color: #423e3e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.inside h6{
    text-align: center;
    color: #918989;
    font-size: 15px;

    
}
.inside::after{
    content:'';
    height: 2px;
    width: 0%;
    display: block;
    background-color: rgb(57, 37, 131);
    margin: auto;
    transition: 0.5s;
}
.inside:hover::after{
    width: 80%;

}
.footer{
    height: 20vh;
    background-color:#1c1b1b;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerlast ul{
    font-size:15px;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    color:#423e3e
}
.footerlogo{
    padding-left: 15rem;
}
.footericon{
    padding-right: 15rem;
}