body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  

  