body{
    width:100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;


}
#main{
    
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

font-size: 0.1rem;
  
    height: 300px;
  animation: animate 6s ease-in-out infinite  ;
border-radius: 30%;
background-size: 4em 4em;

  background-image: repeating-conic-gradient(deeppink 0deg,	deeppink,90deg,white 90deg ,white 180deg,	deeppink 180deg,	deeppink 270deg,white 270deg ,white 360deg);
}
@keyframes animate {
    0%{
 transform: rotateY(0deg) ;
    }
    50%{
        transform: rotateZ(180deg) translateX(-200px);
    }
    100%{
        transform: rotateZ(360deg) translateZ(200px) scale(100);
    }
    
}