
*{
    padding:0;
    margin:0;

}
h1{
    transform: translate(800px 800px);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: white;
    overflow: hidden;
}
#main{
box-shadow: 10px 10px 10px black;
    background-color: #FFA500;
}
#main2{

    background-color: RED;
}
#main3{
    background-color: 	#FF6347;
}
div
{
    width:5%;
    color: white;
    height:100%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 1s;
}
div:hover{

    width:200px;
}
li{
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-top: 30px;
}
#ul1{
margin-bottom: 120px;
}
#ul3{
    margin-top: 200px;
    }
    i{
        margin-right: 40px;
        margin-left: 20px;
    }
  
    @keyframes textshine {
        0% {
            background-position: 0% 50%;
        }
        
        100% {
            background-position: 50% 100%;
        }
    }
 