* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Times, serif;
    color: white;
    background-color: black;
}

.container {
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}

.header {
    padding: 1rem;
    margin: 0rem 0px;
    text-align: center;
}

header>.title {
    margin-bottom: 1rem;
}

.tribute {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}

.tribute blockquote {
    text-align: center;
    font-size: 3rem;
}

.tribute img {
    max-width: 100%;
}

.bio {
    margin: -60rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}

.bio>h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}

.bio>p {
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.4;
}

.bio>hr {
    margin-top: 2rem;
}

.class image {
    margin: 6px;
    padding: 0px;
    box-sizing: border-box;
}