* {
    margin: 0;
    padding: 0;
}

img {
    width: 31px;
    height: 20px;
    margin-top: 5px;
}

button {
    border-radius: 42px;
    border: 7px solid black;

}

h1 {
    margin-left: 234px;
    margin-top: 47px;
    color: #29193b;
    font-size: 61px;
}

.search-bar {
    margin-top: 81px;
    margin-left: 73px;
}

.box {
    height: 61px;
    width: 298px;
    border-radius: 83px;
    border: 8px solid black;
    padding: 14px;
}

.proj-list {
    margin-top: 84px;
    margin-left: 44px;
    font-size: 43px;
    padding: 21px;
    color: #29193b;
}

.items {
    padding: 20px;
}

body {
    background-color: #CE93D8;
}

.center {
    text-align: center;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
    width: 100%;
}
