@media screen and (max-width: 30rem),
screen and (max-width: 45em) {
    main {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        transform: scale(0.7);
    }
    
    .signUp-Form {
        margin: 0 auto;
    }
    
    .Signup-Side {
        min-width: 35rem;
    }
    
    .prim-signUp-heading {
        padding-top: 2.8rem;
    }
    
    .doddle-side {
        height: 100%;
    }
    
    css-doodle {
        height: 100%;
    }
    
    .create_account {
        padding-bottom: 2.4rem;
    }
}
