/* Set the margin, padding, and background color for the body */
body {
    margin: 0%;
    padding: 0%;
    background: #262626;
}

/* Styling for the glowing text container */
.glowing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for each individual span element */
.glowing span {
    color: #fff;
    font-family: Verdana;
    font-size: 10px;
    display: inline-block;
    animation: animate 2s linear infinite;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid rgba(255, 255, 255, .4);
    margin: 0 -2.5px;
}

/* Keyframes animation for the glow effect */
@keyframes animate {
    0% {
        color: #f00;
        box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
        border: 1px solid rgba(255, 0, 0, 1);
    }
    33.3% {
        color: #ff0;
        box-shadow: 0 2px 10px rgba(255, 255, 0, 1);
        border: 1px solid rgba(255, 255, 0, 1);
    }
    66.6% {
        color: #0f0;
        box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
        border: 1px solid rgba(0, 255, 0, 1);
    }
    100% {
        color: #f00;
        box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
        border: 1px solid rgba(255, 0, 0, 1);
    }
}

/* Animation delay for each span element */
.glowing span:nth-child(1) {
    animation-delay: 0s;
}

.glowing span:nth-child(2) {
    animation-delay: 0.1s;
}

.glowing span:nth-child(3) {
    animation-delay: 0.2s;
}

.glowing span:nth-child(4) {
    animation-delay: 0.3s;
}

.glowing span:nth-child(5) {
    animation-delay: 0.4s;
}

.glowing span:nth-child(6) {
    animation-delay: 0.5s;
}

.glowing span:nth-child(7) {
    animation-delay: 0.5s;
}
