@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
}

h1 {
   font-size: 50px;
   line-height: 64px;
   color: #222;
}

h2 {
   font-size: 46px;
   line-height: 54px;
   color: #222;
}

h4 {
   font-size: 20px;
   color: #222;
}

h6 {
   font-weight: 700;
   font-size: 12px;
}

p {
   font-size: 16px;
   color: #465b52;
   margin: 15px 0 20px 0;
}

.section-p1 {
   padding: 40px 80px;
}

.section-m1 {
   margin: 40px 0;
}

button.normal {
   font-size: 16px;
   font-weight: 600;
   padding: 12px 28px;
   color: black;
   background-color: white;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;
}

button.normal {
   font-size: 13px;
   font-weight: 600;
   padding: 11px 18px;
   color: white;
   background-color: transparent;
   cursor: pointer;
   border: 1px solid rgb(228, 226, 226);
   outline: none;
   transition: 0.2s;
}

body {
   width: 100%;
}

.logo {
   height: 50px;
   scale: 1.5;
}

/* Header Starts */

#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 80px;
   background-color: #E3E6F3;
   box-shadow: 0 5px 15px rgba(0,0,0,0.06);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}

#navbar {
   display: flex;
   align-items: center;
   justify-content: center;
}

#navbar li {
   list-style: none;
   padding: 0 20px;
   position: relative;
}

#navbar li a {
   text-decoration: none;
   font-size: 18px;
   font-weight: 600;
   color: #1a1a1a;
   transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
   color : rgb(47, 134, 222);
}

ion-icon {
   font-size: 28px;
}

#navbar li a.active::after,
#navbar li a:hover::after {
   content: "";
   width: 30%;
   height: 2px;
   background: rgb(47, 134, 222);
   position: absolute;
   bottom: -4px;
   left: 20px;
}

#mobile {
   display: none;
   align-items: center;
}


/* Home Page */

#hero {
   background-image: url(heroimg.png);
   height: 90vh;
   width: 100%;
   background-size: contain;
   background-position: top 35% right 5%;
   background-repeat: no-repeat;
   background-size: 600px;
   background-color: #E3E6F3;
   padding: 0 80px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
}

#hero h4 {
   padding-bottom: 15px;
}

#hero h1 {
   color: rgb(47, 134, 222);
}

#hero button {
   background-image: url("img/button.png");
   background-color: transparent;
   color: rgb(47, 134, 222);
   border: 0;
   padding: 12px 80px 14px 65px;
   font-weight: 800;
   background-repeat: no-repeat;
   cursor: pointer;
}

/* Feature Section */

#feature {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

#feature .fe-box {
   width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;
}

#feature .fe-box:hover {
   box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img {
   width: 100%;
   margin-bottom: 10px;
}

#feature .fe-box h6 {
   display: inline-block;
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 4px;
   color: rgb(47, 134, 222);
   background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
   background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
   background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
   background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
   background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
   background-color: #fff2e5;
}

/* Featured Products */

#product1 {
   text-align: center;
}

#product1 .pro-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

#product1 .pro {
   width: 23%;
   min-width: 250px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
   margin: 15px 0;
   position: relative;
}

#product1 .pro:hover {
   box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img {
   width: 100%;
   border-radius: 20px;
}

#product1 .pro .desc {
   text-align: start;
   padding: 10px 0;
}

#product1 .pro .desc span {
   color: #606063;
   font-size: 13px;
}

#product1 .pro .desc h5 {
   padding-top: 7px;
   color: #1a1a1a;
   font-size: 16px;
}

#product1 .pro .desc ion-icon {
   font-size: 12px;
   color: rgb(243,181,25);
}

#product1 .pro .desc h4 {
   padding-top: 7px;
   font-size: 17px;
   font-weight: 700;
   color: rgb(47, 134, 222);
}

#product1 .pro .cart {
   font-weight: 500;
   color: rgb(47, 134, 222);
   position: absolute;
   bottom: 15px;
   right: 20px;
}

/* Banner */

#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url("img/banner/b2.jpg");
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}

#banner h4 {
   color: white;
   font-size: 18px;
}

#banner h2 {
   color: white;
   font-size: 40px;
   padding: 10px 0;
}

#banner h2 span {
   color: red;
}

#banner button:hover {
   background:rgb(47, 134, 222) ;
   color: white;
}

#sm-banner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#sm-banner .banner-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-image: url("img/banner/b17.jpg");
   min-width: 580px;
   height: 50vh;
   background-size: cover;
   background-position: center;
   padding: 30px;
}

#sm-banner .banner-box2 {
   background-image: url("img/banner/b10.jpg");
}

#sm-banner h4 {
   color: white;
   font-size: 20px;
   font-weight: 300;
}

#sm-banner h2 {
   color: white;
   font-size: 28px;
   font-weight: 800;
}

#sm-banner span {
   color: white;
   font-size: 14px;
   font-weight: 500;
   padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
   background-color: rgb(47, 134, 222);
   border: 1px solid rgb(47, 134, 222);
}

#banner3 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 80px;
}

#banner3 .banner-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-image: url("img/banner/b7.jpg");
   min-width: 30%;
   height: 30vh;
   background-size: cover;
   background-position: center;
   padding: 20px;
   margin-bottom: 20px;
}

#banner3 .banner-box2 {
   background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
   background-image: url("img/banner/b18.jpg");
}

#banner3 h4 {
   color: white;
   font-weight: 900;
   font-size: 22px;
}

#banner3 h3 {
   color: rgb(227, 69, 69);
   font-weight: 800;
   font-size: 15px;
}

#newsletter {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   background-image: url(img/banner/b14.png);
   background-repeat: no-repeat;
   background-position: 20% 30%;
   background-color: #041e42;
}

#newsletter .form {
   display: flex;
   width: 40%;
}

#newsletter h4 {
   font-size: 22px;
   font-weight: 700;
   color: white;
}

#newsletter p {
   font-weight: 600;
   font-size: 14px;
   color: #818ea0;
}

#newsletter p span {
   color: #ffbd27;
}

#newsletter input {
   height: 3em;
   padding: 0 1.25em;
   font-size: 14px;
   width: 100%;
   border: 1px solid transparent;
   border-radius: 4px;
   outline: none;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

#newsletter button {
   background-color: rgb(47, 134, 222);
   color: white;
   white-space: nowrap;
   border: none;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer .col{
   display: flex;
   flex-direction: column;
   padding: 0 20px;
   align-items: flex-start;
   margin-bottom: 20px;
}

footer .logo {
   margin-bottom: 30px;
   margin-left: 18px;
}

footer h4 {
   font-size: 17px;
   padding-bottom: 20px;
}

footer p {
   font-size: 14px;
   margin: 0 0 8px 0;
   color: #707071;
}

footer a {
   font-size: 16px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px;
}

footer .follow ion-icon {
   color: #313232;
   padding-right: 4px;
   cursor: pointer;
}

footer .install .row img {
   border: 2px solid rgb(47, 134, 222);
   border-radius: 6px;
}

footer .install img {
   margin: 10px 0 15px 0;
}

footer .follow ion-icon:hover,
footer a:hover {
   color: rgb(47, 134, 222);
}

footer .copyright {
   width: 100%;
   text-align: center;
}

/* Media Query */

@media (max-width:799px) {
   #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0,0,0,0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
   }

   #navbar.active {
      right: 0px;
   }

   #navbar li {
      margin-bottom: 25px;
   }

   #mobile {
      display: flex;
      align-items: center;
   }

   #mobile i, ion-icon {
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
   }
}

/* Shop Page */

#page-header {
   background-image: url(img/banner/b1.jpg);
   width: 100%;
   height: 40vh;
   background-size: cover;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   padding: 14px;
}

#page-header h2,
#page-header p {
   color: white;
}

#pagination {
   text-align: center;
}

#pagination a {
   text-decoration: none;
   background-color: rgb(47, 134, 222);
   padding: 10px 15px;
   border-radius: 4px;
   color: white;
   font-weight: 600;
}

/* Single Product */

#prodetails {
   display: flex;
   margin-top: 20px;
}

#prodetails .single-pro-image {
   width: 40%;
   margin-right: 50px;
}

.small-img-grp {
   display: flex;
   justify-content: space-between;
}

.small-img-col {
   flex-basis: 24%;
   cursor: pointer;
}

#prodetails .single-pro-details {
   width: 50%;
   padding-top: 30px;
}

#prodetails .single-pro-details h4 {
   padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
   font-size: 26px;
}

#prodetails .single-pro-details select {
   display: block;
   padding: 5px 10px;
   margin-bottom: 10px;
}

#prodetails .single-pro-details input {
   width: 50px;
   height: 47px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
   outline: none;
}

#prodetails .single-pro-details button {
   background: rgb(47, 134, 222);
}

#prodetails .single-pro-details span {
   line-height: 25px;
}

/* Blog Page */

#page-header.blog-header {
   background-image: url(img/banner/b19.jpg)
}

#blog {
   padding: 150px 150px 0 150px;
}

#blog .blog-box {
   display: flex;
   align-items: center;
   width: 100%;
   position: relative;
   padding-bottom: 90px;
}

#blog .blog-img {
   width: 50%;
   margin-right: 40px;
}

#blog img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

#blog .blog-details {
   width: 50%;
}

#blog .blog-details a {
   text-decoration: none;
   font-size: 12px;
   color: black;
   font-weight: 700;
   position: relative;
   transition: 0.3s;
}

#blog .blog-details a::after {
   content: "";
   width: 50px;
   height: 2px;
   background-color: black;
   position: absolute;
   top: 7px;
   right: -60px;
}

#blog .blog-details a:hover {
   color: rgb(47, 134, 222);
}

#blog .blog-details a:hover::after{
   background-color: rgb(47, 134, 222);
}

#blog .blog-box h1 {
   position: absolute;
   top: -55px;
   left: 0;
   font-size: 70px;
   font-weight: 700;
   color: #c9cbce;
   z-index: -9;
}

/* About Page */

#page-header.about-header {
   background-image: url(img/about/banner.png)
}

#about-head {
   display: flex;
   align-items: center;
}

#about-head img{
   width: 50%;
   height: auto;
}

#about-head div{
   padding-left: 40px;
}

#about-app {
   text-align: center;
}

#about-app .video {
   width: 70%;
   height: 100%;
   margin: 30px auto 0 auto;
}

#about-app .video video {
   width: 70%;
   height: 100%;
   border-radius: 20px;
}

@media (max-width: 477px) {
   #about-head {
      flex-direction: column;
   }
   #about-head img {
      width: 100%;
      padding-bottom: 30px;
   }
}

/* Contact Page */

#contact-details {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#contact-details .details {
   width: 40%;
}

#contact-details .details span,
#form-details form span {
   font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
   font-size: 26px;
   line-height: 35px;
   padding: 20px 0;
}

#contact-details .details h3{
   font-size: 16px;
   padding-bottom: 15px;
}

#contact-details .details li{
   list-style: none;
   display: flex;
   padding: 10px 0;
}

#contact-details .details li i {
   font-size: 14px;
   padding-right: 22px;
}

#contact-details .details li p{
   margin: 0;
   font-size: 14px;
}

#contact-details .map {
   width: 55%;
   height: 400px;
}

#contact-details .map iframe {
   width: 100%;
   height: 100%;
}

#form-details {
   display: flex;
   justify-content: space-between;
   margin: 30px;
   padding: 80px;
   border: 1px solid #e1e1e1;
}

#form-details form {
   width: 65%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
   width: 100%;
   padding: 12px 15px;
   outline: none;
   margin-bottom: 20px;
   border: 1px solid #e1e1e1;
}

#form-details form button {
   background-color: rgb(47, 134, 222);
}

#form-details .people div {
   padding-bottom: 25px;
   display: flex;
   align-items: flex-start;
}

#form-details .people div img {
   width: 65px;
   height: 65px;
   object-fit: cover;
   margin-right: 15px;
}

#form-details .people div p {
   margin: 0;
   font-size: 13px;
   line-height: 25px;
}

#form-details .people div p span {
   display: block;
   font-weight: 16px;
   font-weight: 600;
   color: black;
}

/* Cart Page */

#cart table {
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
}

#cart table img {
   width: 70px;
}

#cart table td:nth-child(1) {
   width: 100px;
   text-align: center;
}

#cart table td:nth-child(2) {
   width: 150px;
   text-align: center;
}

#cart table td:nth-child(3) {
   width: 250px;
   text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
   width: 250px;
   text-align: center;
}

#cart table td:nth-child(5) input {
   width: 70px;
   padding: 10px 5px 10px 15px;
}

#cart table thead {
   border: 1px solid #e2e9e1;
   border-left: none;
   border-right: none;
}

#cart table thead td {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   padding: 18px 0;
}

#cart table tbody tr td {
   padding-top: 15px;
}

#cart table tbody td {
   font-size: 13px;
}

#cart-add {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#coupon {
   width: 50%;
   margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
   padding-bottom: 15px;
}

#coupon input {
   padding: 6px 19px;
   outline: none;
   width: 60%;
   margin-right: 10px;
   border: 1px solid #e2e9e1;
}

#coupon button {
   background-color: rgb(47, 134, 222);
   padding: 12px 20px;
}

#subtotal {
   width: 50%;
   margin-bottom: 30px;
   border: 1px solid #e2e9e1;
   padding: 30px;
}

#subtotal table {
   border-collapse: collapse;
   width: 100%;
   margin-bottom: 20px;
}

#subtotal table td {
   width: 50%;
   border: 1px solid #e2e9e1;
   padding: 10px;
   font-size: 13px;
}

#subtotal button {
   background-color: rgb(47, 134, 222);
}

#cnt {
   position: absolute;
   transition: 0.3s ease;
   cursor: pointer;
}

#cnt:hover {
   color: rgb(47, 134, 222);
}

.color:hover {
   color: rgb(47, 134, 222);
}

/* CART PAGE PRODUCTS */

.product-container {
   max-width: 650px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   flex-wrap: wrap;
}

.btn {
   font-size: 13px;
   font-weight: 600;
   padding: 11px 18px;
   color: white;
   background-color: rgb(47, 134, 222);
   cursor: pointer;
   border: 1px solid rgb(228, 226, 226);
   outline: none;
   border-radius: 5px;
   transition: 0.2s;  
}

.product {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.products ion-icon{
   font-size: 25px;
   color: blue;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
}

.products img {
   margin: 20px;
   width: 100px;
}

.product-header {
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
   border-bottom: 3px solid lightgrey;
}

.product-title {
   width: 45%;
   border-bottom: 1px solid lightgrey;
}

.price {
   width: 15%;
   /* border-bottom: 1px solid lightgrey; */
   display: flex;
   align-items: center;
}

.quantity {
   width: 25%;
   /* border-bottom: 1px solid lightgrey; */
   display: flex;
   align-items: center;
}

.total {
   width: 15%;
   /* border-bottom: 1px solid lightgrey; */
   display: flex;
   align-items: center;
}

.basketTotalContainer {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding: 10px 0;
}

.basketTotalTitle {
   width: 28%;
}

.basketTotal {
   width: 15%;
}
