<div class="my-3">
<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp"> 
    </div>
    <div class="form-group">
      <label for="desc">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc">
    </div> 
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form></div>