*{
    margin: 0;
    padding: 0;
}

/* .big-text{
    font-size: 52px;
    margin: 20px 0;
    color: aqua;
}
.img-responsive{
    margin-left: 30px;
}
.col-sm-6{
    margin-top: 40px;
}

.me{
    margin-top: 100px;
} */

