
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: rgba(175, 238, 238, 0.3);
  color: rgb(16, 24, 23);
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: rgb(1, 12, 8);
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}
header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}
.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: rgb(31, 31, 7);
  background-color: rgb(192, 117, 167);
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: rgb(255, 255, 255);
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: rgb(250, 210, 240);
  color: rgb(192, 117, 167);
  font-weight: 700;
  transform: scale(1.08);
}
.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: rgb(249, 210, 250);
  font-family: 'Space Mono', monospace;
}

.entry-text-title:focus {
  outline-color: rgb(5, 3, 3);
  font-family: 'Space Mono', monospace;
  color: rgb(19, 10, 10);
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: rgb(17, 6, 6);
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: rgb(7, 3, 3);
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}
.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: rgb(249, 210, 250);
  font-family: 'Space Mono', monospace;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: rgb(250, 210, 250);
    font-family: 'Space Mono', monospace;
  }
}

.entry-text-box:focus {
  outline-color: rgb(10, 3, 10);
  font-family: 'Space Mono', monospace;
  color: rgb(5,2,5);
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: rgb(5, 2, 5);
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}
.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;

  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: rgb(250, 210, 250);
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(250, 210, 248);
}

.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: rgb(250, 210, 241);
  font-family: 'Space Mono', monospace;
}

.entry-text-title:focus {
  outline-color: #0a2472;
  font-family: 'Space Mono', monospace;
  color: #0a2472;
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: #0a2472;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: #0a2472;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

/* Text Box */

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: rgb(250, 210, 238);
  font-family: 'Space Mono', monospace;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: rgb(250, 210, 245);
    font-family: 'Space Mono', monospace;
  }
}

.entry-text-box:focus {
  outline-color: #0a2472;
  font-family: 'Space Mono', monospace;
  color: #0a2472;
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: #0a2472;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}

/* Journal Results Section */

.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 1em auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;

  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: rgb(249, 210, 250);
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightgoldenrodyellow;
}
