.add{

    display: flex;
    justify-content: center;

    .container{
        width: 1400px;
        padding: 50px 0px;

        h1{
            color: gray;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .sections{
            display: flex;
            justify-content: space-between;
            gap: 100px;

            .left, .right{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                label{
                    color: gray;
                    font-size: 18px;

                }
                input, select, textarea{
                    padding: 20px;

                }
                
                button{
                    border: none;
                    padding: 20px;
                    background-color: #1dbf73;
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            
        }

    }
}