*{
    margin: 0;
    padding: 0;
}
body{
    background: #020405;
}
/* Container 1 */

.header{
    background-image: url("images/night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 750px;
    background-size: cover;
    margin-bottom: 0;
    bottom: 0;
    top: 0;
    right:0;
    left:0;
  }
  .navbar{
    margin: auto;
    padding: 20px;
  }
  .nav-item{
    margin: auto;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: auto;
    padding: 0 50px 0 50px;
  }
  a:hover{
    color: grey;
    text-decoration: none;
    transition: 0.3s;
  }
  h1{
    text-align: center;
    margin: 150px 0 0 0;
    color: white;
    font-size: 5rem;
  }
  h3{
    text-align: center;
    color: white;
  }
  .map{
    width: 50px;
    margin: auto;
  }
  .map:hover{
    opacity: 0.5;
    transition: 0.3s;
  }
  .options{
    margin: auto;
    width: inherit;
  }
  .toggler{
    margin: auto;
    width: 60px;
  }
  .switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: absolute;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a2e;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #ffbd69;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #1a1a2e;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }  
  .slider:before {
    border-radius: 50%;
  }
  /* container 2 */
.card-deck{
    width: 100%;
    margin: auto;
  }
  .a{
    width: 100%;
  }
  .containertwo{
    width: 80%;
    margin: 0 auto 100px;;
  }
  p{
    color: white;
    text-align: center;
  }
  .text{
    top: 0;
    position: relative;
    width: 500px;
    margin: auto;
    padding-bottom: 50px;
  }
  .gp{
    text-align: center;
    color:#fff;
  }
  .a:hover{
    transition: 0.3s;
    transform: scale(0.9);
    opacity: 0.5;
  }
  .seem{
    width: inherit;
    text-align: center;
  }
  .row{
    padding: 0;
  }
  /* container 3 */
  .card-group{
    margin: auto;
    border: none;
    width: 60%;
    background-color: inherit;
  }
  .card{
    background-color: inherit;
    padding: 10px;
  }
  .card-body{
    background-color: #020405;
  }
  
  /* footer */
  
  .footer{
    margin: auto;
    position: relative;
    top: 613px;
  }
  .logos{
    margin-left: 45%;
    margin-right: 45%;
    width: 20%;
  }
  .logo{
    background-image: url("images/logo and text.png");
    background-repeat: no-repeat;
    background-position: 0% 24%;
    background-size: 30% 50%;
  }
  .logos a{
  
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      margin: auto;
      padding: 0 5px 0 0px;
    
  }
  .fwall{
    background-image: url("images/Mountain.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
  
  }
h6{
  margin-left: 45px;
}


.row {
  display: flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -45px;
  margin-left: 69px;
}
.pt-5{
  padding-top: 3rem;
}
.foot{
    color: #a7aeb8;
}


.text-uppercase-expanded{
    text-transform: uppercase;
    font-weight: 500;
    color: #a7aeb8;
}
.list-style{
    list-style: none;
}
.foot .anchor{
    text-decoration: none;
    color: #a7aeb8;
    font-size: 14px;
}

.cop{
    color: #a7aeb8;
}
.anchor:hover{
    border-radius: 2px solid black;
}
.pro li{
    list-style: none;
}
.bot{
    bottom: 0;
}


  /* FOR MOBILES  */
  @media only screen and (max-width: 600px) {
    .containertwo{
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
   .logo {
    background-image: url("images/logo and text.png");
    background-repeat: no-repeat;
      background-position: 8% 36%;
      background-size: 65% 20%;
    }
    
    
    }
    .row{
    margin-left: 182px;
    }
    p{
      width: 200px;
      font-size: 0.7rem;
      margin: auto;
    }
    .cards{
      width: 100%;
      margin: auto;
    }
    .text{
      width:250px;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .cards:hover{
      width:90%;
    }
    .card-group{
      width: 80%;
    }
    .card-deck{
      width: 200px;
    }
    .ex{
      width: inherit;
    }
  body{
    margin-right: 0;
  }
  .logos{
    margin-left: 30%;
    margin-right: 30%;
    width: 60%;
  }
  