@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(ima.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper{
    width: 605px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    color: black;
    font-family: 'Fasthand', cursive;


}
.wrapper .content {
margin: 40px 0;

}
.content .quote-area{
    display: flex;
    justify-content: center;

}
.quote-area i{
font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin:  0 0 3px 10px;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
/*font-family: 'Overpass', sans-serif;*/
font-family: 'Roboto', sans-serif;

}
.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    justify-content: flex-end;
    margin: 20px;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;

}
.wrapper .buttons{
    border-top: 1px solid #ccc;
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;

}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;display: flex;
    color: #5372f0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
}.features ul li:hover{
    color: #fff;
    background: #5372f0;
}

.features button{
    border: none;
    outline: none;
    background: #e21955;
    padding: 13px 22px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    font-style: 16px;
}
.features button:hover{
background: #fff;
color: #e21955;
}
