<div class="back_bar">
    <a href="/admin"> Go back</a>
</div>

<style>
    .back_bar{
        display: flex;
        padding: 10px;
    }

    .back_bar a{
        margin-left: 20%;
    }
</style>