@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 350px;
    margin: 0 auto;
}
.wrapper{
    margin: 2rem 1rem;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
}
.img-top{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.img-top img{
    width: 100%;
    display: block;
}
.img-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
}
.img-overlay img{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img-top:hover .img-overlay{
    display: block;
}
.box-text a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0;
    display: inline-block;
}
.box-text a:hover{
    color: hsl(178, 100%, 50%);
}
p{
    color: hsl(215, 51%, 70%);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.eth,.days{
    display: flex;
    align-items: center;
}
.eth p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 7px;
}
.days p{
    padding-left: 7px;
}
hr{
    border-color: hsl(215, 32%, 27%);
}
.author{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.author img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin-right: 15px;
}
.author p a.name{
    color: #FFF;
    font-size: 16px;
}
.author p a.name:hover{
    color: hsl(178, 100%, 50%);
}
