body {
  font-family: Arial, sans-serif;


  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  margin: 0;

  background-color: #f8f8f8;
}

.container {
  text-align: center;
}


.btn-cat {
  background-color: #007bff;


  color: #fff;


  font-size: 18px;

 
  padding: 12px 24px;


  border: none;


  border-radius: 5px;


  cursor: pointer;
}


.image-container {
  margin-top: 20px;
}
