*{
    margin: 0;
    padding: 0px;
  }
  body{
   background-color: rgb(204, 204, 204);
   padding: 0 10px;
  }
  .containerr{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .contain{
    top: 50px;
    background-color: black;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    width: 500px;
  
  }
  .pp{
    margin: 20px 0;
  }