*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  font-weight: 70;
  font-stretch: ultra-expanded;
  box-sizing:border-box;
  height: 1500px;
  background-color: #f5f5e5;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  padding-right:30px;
  padding-left:30px;
  padding-bottom:250px;
}

/* Clear floats after image containers*/ 
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
  
}
#home img:hover {
    background-color: red;
    transition: 0.2s;
  
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/*-----------------------  IndexHeader  -----------------------*/

.indexHeader {
  color: #ece7e1;
  height: 800px;
  padding: 1px;
  background-image: url(../images/headerbg.jpg);
  background-position: 50% 85%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.indexHeader p {
  font-weight: bold;
}

.indexHeader h1 {
  font-size: 800%;
  margin: 0 0 30px 0;
}

.indexHeader a {
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
  text-transform: uppercase;
  color: #ece7e1;
  background-color: #ff4654;
  padding: 15px 60px;
  border-radius: 5px;
}

.indexHeader a:hover {
  background-color: #0f1923;
  transition: 0.5s;
}

/*-----------------------  Index-valorantIntro  -----------------------*/

.valorantIntro {
  width: 100%;
  margin: 80px 0 80px 0px;
}

.valorantIntro h1 {

  color: #0f1922;
  text-transform: uppercase;
  font-size: 600%;
  text-align:left;
  margin-left: 80px;
}

.introColumn {
  display: flex;
  flex-flow: row;
}

#intro {
  margin-left: 200px;
}

.introLeft {
  width: 40%;
  margin-left: 250px;
}
.valorantIntro {
  border-left: solid 2px black;
  padding-left:50px;
  padding-right:50px;
  
}

.introRight {
  width: 70%;
  text-align: center;
  padding-left:150px;
  padding-right:30px;
}

p {
  line-height: 150%;
  color: #7f8286;
  font-family:"DINNextW1G, arial, georgia, sans-serif";
}

.introLeft h2 {
  color: #383e3a;
  text-transform: uppercase;
  line-height: 200%;
  font-family:"DINNextW1G, arial, georgia, sans-serif";

}

/*.introLeft p {
  color: #7f8286;
  padding-bottom: 50px;
  border-bottom: solid 1px black;
}

.introLeft span {
  text-transform: uppercase;
}*/

.introRight img {
  height: 400px;
  width: 700px;
}

/*-----------------------  Index-agentsIntro  -----------------------*/

.agentsIntro {
  width: 100%;
  background-color: #ff4654;
  margin-bottom: -80px;
}

.agentsColumn {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  padding: 40px;
}

.agentsLeft {
  width: 50%;
  float: left;
  padding: 5px;
 
}
.agright{
  display:flex;
  content: "";
  clear: both;
  display: table;
}
.agentsRight {
  width: 45%;
}

.agentsRight h1 {
  font-size: 95px;
  margin: 0 0 50px 0;
  color: #ece7e1;
  text-transform: uppercase;
  font-family:"Tungsten-Bold, arial, georgia, sans-serif";

}

.agentsRight h2 {
  color: #ece7e1;
  font-size: 21px;
  text-transform: uppercase;
  font-family:"DINNextW05-Medium, arial, georgia, sans-serif  ";
}

.agentsRight p {
  color: #ece7e1;
  font-size: 16px;
  font-family:"DINNextW05, arial, georgia, sans-serif  ";
}

.agentsLeft img {
  width: 300px;
  height: 600px;
}

.agentsSub {
  width: 50%;
  margin-bottom: 80px;
}

.agentsRight a {
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
  text-transform: uppercase;
  color: #0f1923;
  background-color: #ece7e1;
  padding: 10px 50px;
  border-radius: 10px;
}

.agentsRight a:hover {
  background-color: #0f1923;
  color: #ece7e1;
  transition: 0.5s;
}

/*-----------------------  Index-mapsIntro  -----------------------*/

.mapsIntro {
  height: 800px;
  width: 100%;
  background-image: url("file:///C:/Users/kadam/OneDrive/Desktop/New%20folder/mapintro.png");
  background-position: center right;
  background-repeat: no-repeat;
}

.mapsIntro h1 {
  color: #0f1922;
  text-transform: uppercase;
  font-size: 500%;
  font-family:"Tungsten-Bold, arial, georgia, sans-serif";
  padding-left: 0px;
  padding-right: 300px;
}

.mapsColumn {
  display: flex;
 flex-flow: row;
  margin: 80px 0px ;
  padding-left: 165px;
  padding-right: 300px;

}

.mapsLeft {
  width: 50%;
  margin-top: 100px;
  border-bottom: solid 2px black;
}

.mapsLeft h2 {
  color: #383e3a;
  text-transform: uppercase;
  font-family:"DINNextW05-Medium, arial, georgia, sans-serif";
}


.mapsLeft p {
  color: #7c7e86;
  padding-bottom: 25px;
  font-family:"DINNextW1G, arial, georgia, sans-serif  ";
}

nav a:hover {
  border-bottom: 2px solid #ff4655;
}
hr {
  margin: 0 auto;
  width: 90%;
  color: #ff4655;
  border: 5px solid #ff4655;
}

img {
  overflow-x: hidden;
}

/* banner is for the intro video and the Valorant image over it and also the ul on top */
.banner
{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video
{
  position: absolute;
  object-fit:cover;
  width:100%;
  height:100vh;
  padding-top: 0;
}

ul{
  position: absolute;
  top:0;
  right:0;
  float:right;
  padding:1rem;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 15px;
}

ul li{
  display: inline-block;
}

ul li a{
  font-family: 'Anton', monospace;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

.logo img{
  position: absolute;
  top:0px;
  left:0px;
  float:left;
  width: 300px;
  height: auto;
}

.main{
  max-width: 1600px;
  z-index:1;
  object-fit:cover;
}

.banner .content
{
  margin: 10px;
  position:absolute;
  top:33%;
  left:auto;
  right:auto;
  bottom:0;
  z-index: 1;
  align-items: center;
}

.banner .content h2
{
  font-family: 'Anton', monospace;
  font-weight: lighter;
  font-size: 1.1em;
  color: #ffffff;
}

.title{
  z-index: 1;
  position: absolute;
  max-width:auto;
  left: auto;
  right: auto;
  align-items: center;
}

a{
  color: #333;
  text-decoration: none;
}

.container{
  max-width:1600px;


  margin:30px auto;
  overflow:hidden;
  box-sizing:border-box;
}

.videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe{
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom:0px;
  height: 100%;
  width:100%;
}

img {
  width:100%;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 2rem;
  margin-bottom: 1.5rem;
  border-top: 5px solid red;
  padding-top: 25px;
  border-bottom: 5px solid red;
  border-bottom-left-radius: 100px 50px;
  padding-bottom: 20px;
  padding-left: 2.2rem;
}

.card h1{
  font-size: 4.5rem;
  font-family: 'Anton', sans-serif;
  padding-left:20px;
  font-weight: 250;
  color:#b50d10;
  text-align: left;
}

.card p{

  justify-content: center;
  padding:4rem;
}

.card1 {
  display: grid;
  grid-template-columns: 3fr 2.7fr;
  grid-gap: 5rem;
  margin-bottom: 1.5rem;
  background-color: #ff5757;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 100px 50px;
}

.card1 h1{
  font-size: 4.5rem;
  font-family: 'Anton', sans-serif;
  font-weight: 250;
  color:#ffffff;
  text-align: center;
}

.card1 p{
  
  color:#ffffff;
 justify-content: center;
  padding:4rem;
}

.card img{
  height: 500px;
}

.card1 img{
  height: 500px;
  max-width: 800px;
  background-color: #ff4545;
}

.card1 div{
  padding: 3.2rem;
}


.card1 a{
  display:inline-block;
  background: #ffffff;
  color:#000000;
  padding:0.8rem 2rem;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.6s ease;
}

.card a{
  display:inline-block;
  background: #ff5757;
  color:#ffffff;
  padding:0.8rem 2rem;
  cursor: pointer;
  border: 2px solid black;
  margin: 5px;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: #000000;
  color:#ffffff;
  border: 2px solid white;
}


@media (max-width:800px){
  .card {
    display:block;
  }
  .card1 {
    display:block;
  }
}
.skill-container {
  height: 100vh;
  width: 100%;
  padding: 0 200px;
}

.skill-container h1 {
  font-weight: 900;
  font-size: 10rem;
  margin-bottom: 100px;
}

.skill-container h1 span {
  font-weight: 300;
}

.abilities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  width: 100%;
}

.abilities-button {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.abilities-ico {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #0f1923;
  transition: all ease-in-out 0.5s;
}

.abilities-ico img {
  width: 80%;
  filter: brightness(0);
}

.abilities-ico:hover {
  background-color: #ff4655;
  transform: translateY(-10px);
  box-shadow: 10px 10px 0px 0px #0f1923;
}

.abilities-ico:hover img {
  filter: brightness(1);
}

.abilities-ico.animate {
  background-color: #ff4655;
  transform: translateY(-10px);
  box-shadow: 10px 10px 0px 0px #0f1923;
}

.abilities-ico.animate img {
  filter: brightness(1);
}

.radio-container {
  position: absolute;
  opacity: 0;
}

.radio-container input {
  cursor: pointer;
}

.abilities-text {
  font-size: 1.5rem;
  margin-top: 4%;
  font-weight: 100;
  width: 60%;
  text-align: justify;
}

.abilities-text h2 span {
  font-weight: 100;
}

.abilities-vid {
  width: 100%;
  opacity: 0;
  box-shadow: 20px 20px 0px 0px #ff4655;
  transition: all ease-in-out 0.2s;
}

.abilities-vid.show {
  opacity: 100;
}

.abilities-vid:hover {
  transform: scale(1.3);
  cursor: crosshair;
  box-shadow: 10px 0px 0px 0px #ff4655;
}

/* OTHER AGENTS */
.other-agents {
  height: fit-content;
  width: 100%;
  padding: 0 200px;
  position: relative;
}

.other-agents h1 {
  font-weight: 900;
  font-size: 10rem;
  margin-bottom: 100px;
}

.other-agents h1 span {
  font-weight: 300;
}

.other-agents .agents-container {
  display: grid;

  margin: 5%;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row;
}

.other-agents .agents-container a {
  overflow: hidden;
}

.other-agents .agents-container img {
  border: 5px solid #0f1923;
  filter: grayscale(1);
  transition: all ease-in-out 0.1s;
}

.other-agents .agents-container img:hover {
  border: 5px solid #ff4655;
  filter: grayscale(0);
}

.agent.pick img {
  border: 5px solid #ff4655;
  filter: grayscale(0);
}


/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #0f1923;
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#0000002d 90%, #ff283a48), url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

footer img {
  width: 40vh;
  padding: 20px;
}

footer p {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}

footer .p2 {
  letter-spacing: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

footer .social-media-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

footer a {
  color: #fff;
  opacity: 0.5;
  font-size: 4rem;
  transition: all 0.2s;
}

footer a:hover {
  opacity: 1;
}

footer a img {
  filter: grayscale(1);
  width: 100px;
}

@media all and (min-width: 1280px) {
  .header-text-container {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 1%;
    font-size: 3rem;
    padding: 0 30px;
  }

  .header-text-container .desc-container {
    margin-bottom: 100px;
  }
}

@media all and (max-width: 900px) {
  /* NAVBAR */
  .nav-menu {
    position: fixed;
    left: 0;
    top: -100vh;
    flex-direction: column;
    justify-content: center;
    background-color: #ff4655;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }

  .nav-link {
    color: #0f1923;
    font-weight: 500;
    font-size: 3rem;
  }

  .nav-menu.active {
    top: 0;
    z-index: 10;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger.active {
    position: fixed;
    right: 8vh;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar.active {
    background-color: #0f1923;
  }

  /* HEADER */
  header {
    margin-bottom: 30px;
  }

  .sova-img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15%;
  }

  .header-text-container {
    font-size: 3rem;
    padding: 50px 0 30px 0;
    color: #0f1923;
    transition: all ease-in-out 0.2s;
  }

  .header-text-container .desc-container {
    width: 100%;
    padding: 0 20px;
  }

  .header-text-container h1 {
    text-align: center;
    font-size: 15vw;
    font-weight: 900;
  }

  .header-text-container h2 {
    color: #fff;
    font-size: 6vw;
    background-color: #ff4655;
    padding-left: 6px;
  }

  .header-text-container h2 img {
    width: 5vw;
  }

  /* SPECIAL ABILITIES */
  .skill-container {
    padding: 0 20px;
  }
  .skill-container h1 {
    margin-bottom: 50px;
    font-size: 4rem;
  }
  .abilities-button {
    width: 100%;
  }

  .abilities-text {
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
  }

  .abilities-ico img {
    width: 90%;
    padding: 5px;
  }

  .abilities-ico:hover {
    box-shadow: none;
  }

  .abilities-ico.animate {
    box-shadow: none;
  }

  .abilities-container {
    display: block;
    height: fit-content;
    width: 100%;
  }

  .abilities-vid {
    width: 100%;
    box-shadow: 7px 7px 0px 0px #ff4655;
  }

  .abilities-vid:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 7px 0px 0px 0px #ff4655;
  }

  /* OTHER AGENTS */
  .other-agents {
    min-height: 100vh;
    width: 100%;
    padding: 0;
  }

  .other-agents h1 {
    margin-bottom: 50px;
    font-size: 7vh;
    padding-left: 20px;
  }

  .other-agents .agents-container {
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(8, 18%);
  }

  .other-agents .agents-container img {
    width: 100%;
  }
  .play-now {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }

  .play-now button {
    padding: 1rem 1rem;
  }

  footer {
    height: 100vh;
    padding: 0 3rem;
    text-align: center;
  }
}

