*{
    margin: 0;
    padding: 0;
    
}
body{
    display: grid;
    place-items: center;
    background-image: url(Connect-4.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
   
}

h1{
    text-align: center;
    margin: 20px 0 20px 0;
    
}
h2{
    color: #0a0ef1;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top:15%;
}

.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 2px solid black;
   width: 630px;
   background-color: rgb(74, 74, 198);
   position: absolute;
   top: 20%;
    
  
}

ul{
    display: grid;
    place-items: center;
    
}

ul p{
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(98, 136, 238);
}


@media(max-width:700px){
    .board{
        width: 500px;
    }
    ul p{
        width: 55px;
        height: 55px;
        
    }
    
}
@media(max-width:520px){
    .board{
        width: 400px;
    }
    ul p{
        width: 40px;
        height: 40px;
        
    }
    
}
@media(max-width:420px){
    .board{
        width: 320px;
    }
    ul p{
        width: 30px;
        height: 30px;
        
    }
    
}