*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Infra';
    /* overflow: hidden; */
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#main #nav {
    width: 100%;
    height: 15%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main #left {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom right, #409cff, #007bfff1);
}

#nav #west {
    width: 30%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 67px;
}

#west #models {
    width: 20%;
}

#west img {
    object-fit: cover;
    width: 65px;
}

#west h5 {
    color: rgb(255, 255, 255);
    /* width: 50px; */
    font-weight: 400;
    display: flex;
    align-items: center;
}

#west i {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

#nav #center {
    position: absolute;
    left: 42%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}

#center h5 {
    padding: 0px 16px;
    font-weight: 400;
    font-size: 14px;
}

#nav #east {
    width: 40px;
    height: 40px;
    background-color: rgb(2, 3, 43);
    margin: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

#cart img {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

#cart #bubble {
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(0, 102, 255);
    right: -3px;
    top: -5px;
}

#bubble h6 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
}

#left h1 {
    color: white;
    font-weight: 450;
    position: absolute;
    top: 190px;
    left: 67px;
    font-size: 36px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

#left h4 {
    font-family: 'Gilroy';
    color: white;
    font-weight: 300;
    position: absolute;
    top: 315px;
    left: 69px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-align: left;
}

#left button {
    color: white;
    background-color: transparent;
    font-weight: 450;
    font-size: 13px;
    position: absolute;
    top: 373px;
    left: 69px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

#left #bar2 {
    display: none;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 15px;
    position: absolute;
    top: 420px;
    left: 70px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
    /* transform: translateX(100px); */
}

#left #bottom {
    position: absolute;
    color: white;
    /* background-color: red; */
    width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    bottom: 30px;
    left: 35px;
}

#bottom a {
    text-decoration: none;
}

a i {
    font-size: 20px;
    color: #fff;
}

a ion-icon {
    font-size: 22px;
    color: #fff;
}

#bottom h5 {
    font-weight: normal;
    margin-right: 30px;
}

#cycle2 img {
    position: absolute;
    /* width: 800px */
    height: 630px;
    top: 70%;
    left: 53%;
    transform: translate(-50%, -50%);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.drop-shadow {
    filter: drop-shadow(-1.7em 1.4em 0.09em rgba(82, 79, 79, 0.178));
}

.buttons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: #2c92ff;
    color: #fff;
    font-size: 30px;
    z-index: 1;
    transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}

.buttons ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cycle2 #one {
    top: 235px;
    left: 625px;
}

#cycle2 #two {
    top: 250px;
    left: 838px;
}

#cycle2 #three {
    top: 550px;
    left: 655px;
}

/* .buttons #horizontal {
    border: 1px solid #fff;
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons #vertical {
    border: 1px solid #fff;
    width: 16px;
    position: absolute;
    top: 46%;
    left: 24%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
} */

#right #mid {
    width: 140px;
    height: 200px;
    /* background-color: red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    top: 35%;
    right: 0;
    margin-right: 30px;
}

#mid h5 {
    opacity: 0.5;
    font-weight: 600;
    margin-bottom: 13px;
    font-size: 14px;
}

#mid h3 {
    font-weight: 350;
    font-size: 28px;
    margin-bottom: 35px;
    font-size: 32px;
}

#mid #size {
    display: none;
}

#mid #weight {
    display: none;
}

#mid #origin {
    display: none;
}

#right #south {
    width: 350px;
    height: 125px;
    background-color: #2e3e5bcb;
    background-color: rgba(236, 140, 15, 0.89);
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 30px 50px;
    border-top-left-radius: 20px;
}

#south h2 {
    font-weight: 300;
}

#south h1 {
    font-weight: 550;
    font-size: 25px;
}

#south .btn {
    width: 37px;
    height: 37px;
    background-color: #2c92ff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 65px;
}

#south #leftbtn {
    /* top: 50px; */
    left: 220px;
}

#south #rightbtn {
    /* top: 50px; */
    left: 266px;
}

.btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @keyframes anim {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.footnote h4 {
    font-weight: normal;
    color: #fff;
    background-image: linear-gradient(to right, rgba(255, 1, 64, 0.836), rgba(23, 122, 204, 0.699), rgb(1, 255, 200));
    background-clip: text;
    margin-bottom: 20px;
    background-size: 400%;
    animation: anim 6s infinite alternate;
    font-family: 'Gilroy';
    width: 42%;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#main #currentPage {
    width: 10%;
    height: 5%;
    /* background-color: red; */
    position: absolute;
    bottom: -1%;
    left: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#currentPage .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(226, 221, 221);
}

#currentPage #circle2 {
    background: linear-gradient(to bottom right, #8ec5ff, #007bffdc);
}

#cycle3 img {
    position: absolute;
    /* width: 800px */
    height: 630px;
    top: 70%;
    left: 153%;
    transform: translate(-50%, -50%);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

#cycle1 img {
    position: absolute;
    /* width: 800px */
    height: 630px;
    top: 70%;
    left: -47%;
    transform: translate(-50%, -50%);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

#drop-down {
    opacity: 0;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    height: 80px;
    background: #3A99FF;
    background: rgba(255, 255, 255, 0.192);
    position: absolute;  
    top: 0%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
}

#drop-down h4 {
    font-weight: normal;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 2px;
}

#pedelec {
    border-bottom: 1px solid #fff;
    border-radius: 10px;
}

#pedelec:hover {
    background-color: rgba(77, 77, 77, 0.418);
    border-radius: 10px;
}

#aerobike {
    border-radius: 10px;
}

#aerobike:hover {
    background-color: rgba(77, 77, 77, 0.418);
}

#genze {
    border-radius: 10px;
    border-top: 1px solid #fff;
}

#genze:hover {
    background-color: rgba(77, 77, 77, 0.418);
}

#left #ATCtext {
    opacity: 0;
    width: 140px;
    height: 30px;
    background-color: rgba(180, 180, 180, 0.363);
    border-radius: 10px;
    position: absolute;
    top: 62%;
    left: 13%;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

#ATCtext h3 {
    font-weight: normal;
    color: #fff;
    text-align: center;
}