body{
  background-color: #0C0B0C;
}

/* #0C0B0C */

h1 {
  font-family: Serif;
  font-size: 4rem;
  color: #FEE6ED;
  text-align: center;
}

.btns {

}

.btn {
  outline: none;
  border: 10px solid #FEE6ED;
  font-size: 5rem;
  font-family: Serif;
  line-height: 2;
  font-weight: 900;
  color: #FEE6ED;
  /*text-shadow: 3px 0 #DBEDF3;*/
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #0C0B0C;
}

.a {
  background-image: url("images/apple.png");
}

.b {
  background-image: url("images/ball.png");
}

.c {
  background-image: url("images/cat.png");
}

.d {
  background-image: url("images/dog.png");
}

.e {
  background-image: url("images/elephant.png");
}

.f {
  background-image: url("images/fish.png");
}

.g {
  background-image: url("images/grass.png");
}

.h {
  background-image: url("images/hat.png");
}

.i {
  background-image: url("images/insect.png");
}

.j {
  background-image: url("images/jar.png");
}

.k {
  background-image: url("images/kite.png");
}

.l {
  background-image: url("images/lamp.png");
}

.m {
  background-image: url("images/monkey.png");
}

.n {
  background-image: url("images/nose.png");
}

.o {
  background-image: url("images/ocean.png");
}

.p {
  background-image: url("images/parrot.png");
}

.q {
  background-image: url("images/queen.png");
}

.r {
  background-image: url("images/rat.png");
}

.s {
  background-image: url("images/sun.png");
}

.t {
  background-image: url("images/tap.png");
}

.u {
  background-image: url("images/umbrella.png");
}

.v {
  background-image: url("images/violin.png");
}

.w {
  background-image: url("images/water.png");
}

.x {
  background-image: url("images/fox.png");
}

.y {
  background-image: url("images/yellow.png");
}

.z {
  background-image: url("images/zebra.png");
}
