@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  align-items: center;
  background: #fff;
  min-height: 300vh;
}
/* 
.contentcard {
  float: left;
  background: #111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 100vh;
  right: 0;
  left: 0;
} */

.contentcard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.contentcard .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  right: 40px;
  background: #017143;
  /* margin: 30px 10px; */
  /* padding: 20px 15px; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in-out;
}

.card:hover {
  height: 420px;
}
.card .imageBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.imageBx img {
  max-width: 100%;
  border-radius: 4px;
}
.card .morecontent {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card:hover .morecontent {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  background: #111;
}
header .logo {
  position: relative;
  max-width: 80px;
  transition: 0.6s;
}
ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  position: relative;
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  transition: 0.6s;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent;
  background-size: cover;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textBox {
  position: relative;
  max-width: 600px;
}
.textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.textBox p {
  color: #333;
}
.textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  /* background: #017143; */
  color: #ffff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.imgBox img {
  max-width: 340px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 60px;
}
.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.sci li:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateX(-5px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

header.sticky ul li a {
  color: #fff;
}
header.sticky .logo {
  position: relative;
}
