@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:140%;
    background-color: #222629;
    color: white; 
    text-align: center;
}

@media (min-width:450px){
.ciphers{
    display: flex;
    justify-content: space-around; 
    margin-top: 120px;
}

h1{
    margin-top: 50px;
}

.inputs{
    background-color: #86c232;
    padding: 10px;
    border-radius: 15px;
}


.head{
    font-size: 200%;
    font-weight: bolder;
    padding: 10px 5px 10px 5px;
}

.form-div{
    padding: 20px 10px 20px 10px;
    text-align: left;
}

.form-div input{
    margin: 10px 0 10px 0;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    font-size: 17px;
    border: 0px;
}


button{
    font-size: 19px;
    font-weight: bolder;
    background-color: #86c232;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 7px;
    padding: 5px;
}

button:hover{
    background-color: #ffffff;
    color: black;
}
}

@media (min-width: 375px) and (max-width: 449px){
    .ciphers{
        flex-direction: column;
        padding-top: 20px;
    }

    .inputs{
        margin-top: 10px;
        background-color: #86c232;
        padding: 5px;
    }

    .head{
        font-size: 200%;
        font-weight: bolder;
        padding: 10px 5px 10px 5px;
    }

    .form-div{
        padding: 20px 5px 10px 5px;
    }

    button{
        font-size: 17px;
        font-weight: bolder;
        background-color: #86c232;
        color: #ffffff;
        border: 3px solid #ffffff;
        padding: 5px;
    }
}