body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: 'Arapey', serif;
  height: 100vh;
}
.body {
  margin: 0;
  /* font-family: 'Arapey', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: 'Arapey', serif;
} */
