* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: #0B2434; */
    padding: 20px;
    font-family: 'Karla', sans-serif;
    background: linear-gradient(-45deg, tomato, #5035ff, tomato, #5035ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-y: hidden;
}

main {
    margin: auto;
    background-color: #f5f5f5;
    height: 600px;
    width: 900px;
    /* width: auto; */
    /* max-width: 800px; */
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-family: "Julee", cursive;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 1rem;
    transform: rotateZ(-10deg);
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.die-num {
    font-size: 2rem;
}

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.extra {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between !important; */
    gap: 100px;
    /* float: left; */
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }