[data-theme="light"] {
--bg-color: #fff;
--color: #333;
--togglebg: #d4e7d5;
--toggleslider: #fff;
--roundcolor: #fff;
--svgcolor: #111;
}

[data-theme="dark"] {
--bg-color: #333333;
--color: #e9dcdc;
--togglebg: #333;
--toggleslider: #e9dcdc;
--roundcolor: #333;
--svgcolor: #fff;
}

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
line-height: 1.4;
background-color: var(--bg-color);
transition: all 0.5s;
}

/* toggle  */

nav {
display: flex;
justify-content: flex-end;
padding: 20px 24px;
}

.btn {
position: absolute;
left: 2rem;
margin-top: 0.3rem;
}

.theme-switch-wrapper {
display: flex;
align-items: center;
}

.theme-switch-wrapper em {
margin-left: 10px;
font-size: 1rem;
}

.theme-switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.theme-switch input {
display: none;
}

.slider {
background-color: var(--togglebg);
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: 0.4s;
}

.slider:before {
background-color: var(--roundcolor);
bottom: 4px;
content: "";
height: 26px;
left: 4px;
position: absolute;
transition: 0.4s;
width: 26px;
}

input:checked + .slider {
background-color: var(--toggleslider);
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

em {
color: var(--color);
}

.container {
width: 100%;
max-width: 700px;
margin: 0 auto;
padding-left: 10px;
padding-right: 10px;
color: var(--color);
margin: auto;
padding-top: 4rem;
}

.app-title {
text-align: center;
margin-bottom: 20px;
font-size: 80px;
}

svg {
width: 64px;
height: 64px;
}

.todo-list {
list-style: none;
margin-bottom: 20px;
}

.todo-item {
margin-bottom: 10px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.todo-item span {
flex-grow: 1;
margin-left: 10px;
margin-right: 10px;
font-size: 22px;
}

.done span {
text-decoration: line-through;
user-select: none;
}

input[type="checkbox"] {
display: none;
}
input:focus {
outline: none;
background-color: #d4e7d5;
}

.tick {
width: 30px;
height: 30px;
border: 3px solid var(--color);
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.tick::before {
content: "✔️";
font-size: 20px;
display: none;
}

.done .tick::before {
display: inline;
}

.delete-todo {
border: none;
background-color: transparent;
outline: none;
cursor: pointer;
}

.delete-todo svg {
width: 30px;
height: 30px;
pointer-events: none;
}

form {
width: 100%;
display: flex;
justify-content: space-between;
margin-bottom: 2rem;
}

input[type="text"] {
width: 100%;
padding: 10px;
border-radius: 4px;
border: 3px solid #333;
}

/* Add this below all the other styles */

.empty-state {
flex-direction: column;
align-items: center;
justify-content: center;
display: none;
}

.checklist-icon {
margin-bottom: 20px;
}

.empty-state__title,
.empty-state__description {
/* margin-bottom: 20px; */
font-size: 25px;
text-align: center;
margin: 2rem;
width: 25rem;
}

/* Add this below the other styles */
.todo-list:empty {
display: none;
}

.todo-list:empty + .empty-state {
display: flex;
}

@media (max-width: 608px) {
.container {
width: 90%;
margin: auto;
}
.app-title {
font-size: 3rem;
}
.empty-state__title,
.empty-state__description {
font-size: 1.5rem;
width: 18rem;
}
/*   .btn {
position: absolute;
right: -1rem;
} */
em {
display: none;
}
}
