@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Source+Serif+4&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 10;
    background-image: linear-gradient(to top, black 1%, rgb(300, 41, 1) 3%, white 20%, lightblue 80%, white 90%, rgb(300, 41, 1) 100%);
    height: 100%;
}

h2 {
    text-align: center;
    padding: 6px 0px;
    background-image: linear-gradient(to bottom,
            Yellow 10%, white 100%);

}

.img1 img {

    width: 100%;
}

.img {
    width: 100%;
    background-image: linear-gradient(to top, yellow 10%, white 100%);
}

#center {
    text-align: center;
    margin-bottom: 5px;

}

.txt {
    margin: 10px 5px;
}

#p1 {
    margin: 10px 5px;
    font-family: 'Roboto', sans-serif;
}

#p2 {
    font-family: 'Roboto', sans-serif;
    margin: 0px 5px 30px 5px;
}

#text {
    font-family: 'Source Serif 4', sans-serif;
}