body {
    font-family: Poppins, sans-serif;
    background: #E5E1E6;
    /* fallback for old browsers */
    background: #E5E1E6;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #E5E1E6;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 0px;
    padding-right: 0px;
}

::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
    background: #f8f8f8;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #170F1E;
    border-radius: 100px;
    height: 10px !important;
    overflow-x: hidden;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 100px;
    height: 50px !important;
    overflow: auto;
}


/* ANIMATION  */

.grow2 {
    transition: all 0.01s ease-in-out;
}

.grow2:hover {
    transform: scale(1.03);
}

.grow {
    transition: all 0.2s ease-in-out !important;
}

.grow:hover {
    transform: scale(1.1) !important;
}

.rotate {
    transition: transform 0.5s ease-in-out;
}

.rotate:hover {
    transform: rotate(360deg);
}

.object {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.middle {
    position: relative;
}

.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E5E1E6;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


/* Poster */

#poster {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
}

#poster>a>img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

#poster>a>img:not(:hover) {
    transition: transform 1s;
    transform: scale(1);
}


/* Numbers */

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#value1 {
    transition: --num 2s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    --num: 132;
    color: #170F1E;
}

#value1::after {
    content: counter(num);
    --num: 132;
}

#value1:hover {
    --num: 35;
}

.pranjay-img {
    border: 1px black solid;
}

#value2 {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    --num: 60;
    color: #170F1E;
}

#value2::after {
    content: counter(num);
}

#value2:hover {
    --num: 3;
}

#value3 {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    --num: 261;
    color: #170F1E;
}

#value3::after {
    content: counter(num);
}

#value3:hover {
    --num: 101;
}

#value4 {
    transition: --num 1s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    --num: 10;
    color: #170F1E;
}

#value4::after {
    content: counter(num);
}

#value4:hover {
    --num: 20;
}

.contri {
    width: 80%;
}

.btn{
    margin-top: 1rem;
    width: 70%;
}

/* Footer Section */
.section{
    background-color: black;
}
.wrapper{
    text-align: center;
   }

  .section h3{
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 span{
    color: rgb(0 159 157);
  }

  .section h4 span{
    color: rgb(0 159 157);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #d41c1c;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }
    
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;

  height: fit-content;
  width: fit-content;
  z-index: 100000;
}

.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2980b9;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: rgba(229, 228, 232, 0.58);
}
.footer-copyright a {
  color: #1d0f44ad;
  transition: all 0.3s ease;
}




.logo {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .github-logo {
    width: 100px;
    height: 60px;
    background-image: url("./img/images.png");
    background-size: contain;
    margin-right: 10px;
    border-radius: 100px;
  }
  
  .dev {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .geeks {
    font-style: italic;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  