* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}
.navbar {
    /* max-width: 1300px; */
    margin: 0 auto;
  }
  .nava {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #007bff;
  }
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    gap: 3.5rem;
  }
  nav li {
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
  }
 
::-webkit-scrollbar {
  width: 10px;
  overflow-y: scroll;
  background: #f8f8f8;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #170f1e;
  border-radius: 100px;
  height: 10px !important;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 100px;
  height: 50px !important;
  overflow: auto;
}

.row {
  margin: 0;
}

/* ANIMATION  */

.grow2 {
  transition: all 0.01s ease-in-out;
}

.grow2:hover {
  transform: scale(1.03);
}

.grow {
  transition: all 0.2s ease-in-out !important;
}

.grow:hover {
  transform: scale(1.1) !important;
}

.rotate {
  transition: transform 0.5s ease-in-out;
}

.rotate:hover {
  transform: rotate(360deg);
}

.object {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

/* navbar */
.navbar {
  position: fixed;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 50;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  width: 40px;
}

.navbar-toggler:focus {
  outline: 1px !important;
}

.navbar-nav {
  gap: 20px;
}

/* dashoard */
.dashboard {
  min-height: 100vh;
  background-color: #b0affb;
  color: #fff;
}

.dashboard .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 50px;
}

.dashboard .left h1 {
  font-size: 50px;
}

.dashboard .right {
  background-image: url("./img/dashboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

/* work */
.work {
  background-color: #E4F9F5;
}

.work .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.work .right ul,
.rules .right ul,
.details .left ul {
  list-style: none;
}

.work .right ul li,
.rules-details ul li {
  padding: 10px 0;
}

.fa-arrow-right {
  margin-right: 5px;
}

.work .right .card {
  padding: 30px 50px;
  color: #fff;
  transition: all 0.5s ease;
}

.work .right .card:hover {
  transform: scale(1.03);
}

.work .right .card1 {
  background-color: #ff0000;
  box-shadow: 10px 10px 10px #ffaaaa;
}

.work .right .card1 a {
  text-decoration: none;
  color: #fff;
  border: 1px dotted #fff;
  padding: 2px 5px;
}

.work .right .card2 {
  background-color: #ffc93c;
  box-shadow: 10px 10px 10px #ffe6a7;
}

/* rules */
.rules-details {
  background-color: #f31559;
  color: #fff;
}

.rules .right,
.details .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.rules .left {
  background-image: url("./img/rules.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  margin-top: 50px;
}

.details .right {
  background-image: url("./img/details.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 50px;
}

/* admin */
.admin {
  background-color: rgb(0 159 157);
  color: #fff;
}
.admin .top {
  display: flex;
}

.admin .top img {
  height: 150px;
  width: 150px;
}

.admin .bottom .contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
}

.experience {
  padding: 0 5%;
}

.buttonCustom {
  width: 300px;
  height: 50px;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.admin .bottom .contacts .container {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #b1b2cf;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #fff;
  padding: 5px;
}

.admin .bottom .contacts .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 25px;
  transition: all 1s;
}

.admin .bottom .contacts p {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: auto;
  transition: all 1s;
  opacity: 0;
}

.admin .bottom .contacts p a {
  color: #fff;
  text-decoration: none;
}

.admin .bottom .contacts i {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.admin .bottom .contacts .btn:hover i {
  transform: rotate(360deg);
}

.admin .bottom .contacts .btn:hover {
  width: 150px;
  cursor: pointer;
}

.admin .bottom .contacts .btn:hover p {
  animation: 2s display forwards;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.admin .bottom .contacts .linkd {
  top: 200px;
  left: 100px;
  box-shadow: 0px 0px 15px #0e76a8;
  animation: bounce 2s infinite alternate;
}
.admin .bottom .linkd .btn {
  background-color: #0e76a8;
}

.admin .bottom .contacts .git {
  top: 100px;
  left: 250px;
  box-shadow: 0px 0px 15px black;
  animation: bounceBack 2s infinite alternate;
}
.admin .bottom .git .btn {
  background-color: black;
}

.admin .bottom .contacts .port {
  top: 200px;
  left: 400px;
  animation: bounce 2s infinite alternate;
  box-shadow: 0px 0px 15px #8e27f7;
}
.admin .bottom .port .btn {
  background-color: #8e27f7;
}

.admin .bottom .contacts .insta {
  top: 100px;
  left: 550px;
  animation: bounceBack 2s infinite alternate;
  box-shadow: 0px 0px 15px #e1306c;
}
.admin .bottom .insta .btn {
  background-color: #e1306c;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes bounceBack {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

/* repo section */
.repo .desc {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.repo-pic {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

/* Footer Section */
.section {
  background-color: black;
}
.wrapper {
  text-align: center;
}

.section h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.section h3 span {
  color: rgb(0 159 157);
}

.section h4 span {
  color: rgb(0 159 157);
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #d41c1c;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #00acee;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0e76a8;
  color: #ffffff;
}

/* SCROLL TO TOP */
#progress {
  z-index: 100001;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 28px;
  color: black;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: rgba(229, 228, 232, 0.58);
}
.footer-copyright a {
  color: #1d0f44ad;
  transition: all 0.3s ease;
}

/* media queries */

@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-small {
    width: 100%;
  }
  .navbar-nav {
    gap: unset;
  }
  .dashboard .left h1 {
    text-align: center;
    font-size: 40px;
  }
  .dashboard .right,
  .rules .left,
  .details .right {
    display: none;
  }
  .work {
    margin: 0;
  }
  .work .card {
    margin: 0 10%;
  }
  .rules .right,
  .details .left {
    padding: 0 10%;
  }
  .admin .right {
    align-items: center;
    margin-top: 30px;
  }
  .admin .top .about-admin {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .admin .bottom .contacts .linkd {
    left: 80px;
  }

  .admin .bottom .contacts .git {
    left: 180px;
  }
  .admin .bottom .contacts .port {
    left: 280px;
  }

  .admin .bottom .contacts .insta {
    left: 380px;
  }
}

@media screen and (max-width: 500px) {
  .dashboard .left h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .admin .bottom .contacts .linkd {
    left: 50px;
  }

  .admin .bottom .contacts .git {
    left: 120px;
  }
  .admin .bottom .contacts .port {
    left: 190px;
  }

  .admin .bottom .contacts .insta {
    left: 260px;
  }
}
