@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lora:ital,wght@1,600&display=swap');


.usage {
    margin: 2rem;
    
}

.text {
    font-size: 1.25rem !important;
    font-family: 'Lora', serif !important;
}

h4 {
    font-size: 30px;
    font-family: 'Kotta One', serif;
}

.button {
    background-color: black !important;
    font-weight: 700 !important;
}

.button:hover {
    background-color: white !important;
    color: black !important;
}


@media screen and (max-width: 992px) {
    .text {
        font-size: 1.15rem !important;
    }
    h4 {
        font-size: 20px;
    }

  }

  
  @media screen and (max-width: 600px) {
    .text {
        font-size: 1.05rem !important;
    }
    h4 {
        font-size: 20px;
    }
  }
