html{
    scroll-behavior: smooth;
}
table
{
    border-color:black;
    width:100%;
}
body{
    background-color:rgb(241, 197, 115);
    padding: 0px;
    margin: 0px;
}


.navbar{
    margin-top: 0px;
    position:sticky;
}
.navbarList{
    list-style-type: none;
    text-align: center;
    background-color:rgb(241, 197, 115);
    margin: 0px;
    height:80px;
    width:480px;
    font-size:25px;
}
.navbar:hover{
    opacity:0.6;
}
.navbarlist:hover{
    opacity:0.6;
}
ul li{
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
}
   
/* Home/Search section */

.home h2{
    font-family: 'PT Sans', sans-serif;
}
.home{
    height: 440px;
    background-color: #75096c;
    margin-top: 0px;
}
.innerBox{
    text-align: center;
}

.selection{
    text-align: center;
    display: inline-block;
    margin: 20px 40px 20px 40px;
    padding-top:30px ;
    height:200px;
    width:200px;
}

.selection h2{
    font-weight: 600;
    font-size: 40px;
}

.innerBox button{
    display: block;
    margin: 0px auto 0px auto;
    margin-top: 59px;
    margin-bottom: 20px;
}

.cellPhone{
    margin:10px 0px 10px 0px;
}

.cellPhone img{
    width: 90px;
    display: block;
    position: relative;
    left: 90%;
}


.home input{
    height: 50px;
    border-radius: 20px;

}
.btn {
    background: #F5692E;
    background-image: -webkit-linear-gradient(top, #F5692E, #f59670);
    background-image: -moz-linear-gradient(top, #F5692E, #f59670);
    background-image: -ms-linear-gradient(top, #F5692E, #f59670);
    background-image: -o-linear-gradient(top, #F5692E, #f59670);
    background-image: linear-gradient(to bottom, #F5692E, #f59670);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  .bn{
      position:absolute;
      top:600px;
left:50%;
  }
  
  .btn:hover {
    background: #ffaa00;
    background-image: -webkit-linear-gradient(top, #ffaa00, #e02424);
    background-image: -moz-linear-gradient(top, #ffaa00, #e02424);
    background-image: -ms-linear-gradient(top, #ffaa00, #e02424);
    background-image: -o-linear-gradient(top, #ffaa00, #e02424);
    background-image: linear-gradient(to bottom, #ffaa00, #e02424);
    text-decoration: none;
  }

/* luxary section */
.luxary{
    margin-bottom: 30px;
    background-color: #1FFFE1;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    /* font-family: 'Italianno', cursive; */
}
.luxary h2{
    display: block;
    font-size: 60px;
    font-family: 'Italianno', cursive;
    margin-top: 30px;
}
.luxary h3{
    font-family: 'Italianno', cursive;
    font-size: 79px;

}
.heading{
    margin-top: 30px;
}

.Card{
    height: 500px;
    width: 356px;
    display: inline-block;
    text-align: center;
    margin: 40px;

}
.card-1{
    background-image: url(images/header4.jpg);
    background-size: contain;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    opacity: 1.0;
    transition: 0.3s;
}

.card-1:hover{
    opacity: 0.8;
   
}

.card-2{
    background-image: url(images/img11.jpg);
    background-size: cover;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color: white;
    opacity: 1.0;
    transition: 0.3s;
}
.card-2:hover{
    opacity: 0.8;
}
.card-3{
    background-image: url(images/img5.jpg);
    background-size: cover;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    opacity: 1.0;
    transition: 0.3s;
}
.card-3:hover{
    opacity: 0.8;
}


.btn-2{
    display: block;
    text-align: center;
    margin: 40px auto 50px auto;
}
.btn-2 {
    background: #F5692E;
    background-image: -webkit-linear-gradient(top, #F5692E, #f59670);
    background-image: -moz-linear-gradient(top, #F5692E, #f59670);
    background-image: -ms-linear-gradient(top, #F5692E, #f59670);
    background-image: -o-linear-gradient(top, #F5692E, #f59670);
    background-image: linear-gradient(to bottom, #F5692E, #f59670);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;

  }
  
  .btn-2:hover {
    background: #ffaa00;
    background-image: -webkit-linear-gradient(top, #ffaa00, #e02424);
    background-image: -moz-linear-gradient(top, #ffaa00, #e02424);
    background-image: -ms-linear-gradient(top, #ffaa00, #e02424);
    background-image: -o-linear-gradient(top, #ffaa00, #e02424);
    background-image: linear-gradient(to bottom, #ffaa00, #e02424);
    text-decoration: none;
  }

.discount{
    text-align: center;
    padding-top: 30px;
    background-image: url(images/img1.jpg);
    background-size: cover;
    padding-bottom: 30px;
    
    /* display: flex;
    margin: 10px auto 10px auto; */
}

.dCard{
    background-color: #1FFFE1;
    display: inline-block;
    text-align: center;
    height: 430px;
    width: 356px;
    margin-right: 40px;
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 15px;
}
.dCard:hover{
    opacity: 1.0;
}
.discount p{
    font-size: 50px;
    text-align: left;
    margin-left: 33px;
    margin-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    display: inline;
}

.mydiv{
position: absolute;
top:550px;
  height:100px;
  width:400px;
  left:-270px;
  background-color: yellow;
    border: 1px solid black;
   transition: .8s;
   border-top-right-radius:80px;
   border-bottom-right-radius:80px;
   color:rgb(241, 197, 115);
  }
  .mydiv:hover{
  height:100px;
  width:400px;
  left:0px;
  background-color: yellow;
  color:black;
  
    

  }
  .im{
      position:relative;
      right:0px;
  }
  
@media (max-width:1120px)
{

}

@media (max-width:1138px)
{
    .selection{
        text-align: center;
        display: inline-block;
       
        padding-top:30px ;
        height:200px;
        width:350px;
    } 
    
    .bn{
        left:500px;
    }
}
@media (max-width:1126px)
{
    .navbarList{
        list-style-type: none;
        text-align: center;
        background-color:rgb(241, 197, 115);
        margin: 0px;
        height:150px;
        width:401px;
    }
    
}
@media (max-width:1010px){
.bn{
    left:420px;
}
}

@media (max-width:900px)
{.navbarList{
    list-style-type: none;
    text-align: center;
    background-color:rgb(241, 197, 115);
    margin: 50px;
    height:150px;
    width:70px;

}
.bn{
    top:1100px;
    left:480px;
}
.navbar{
    margin-top: 0px;
    color:black;
    width:900px;
    margin-left: :100px;
}
   .button{
    margin-left:100px;
   } .selection{
        text-align: center;
        display: inline-block;
     margin-left:100px;
        padding-top:30px ;
        height:20px;
        width:700px;
    } 
    .home{
        height: 900px;
        background-color: #75096c;
        margin-top: 0px;
        width:900px;
      
    }  
    .innerBox{
        text-align: center;
        width:800px;
    }
    .luxary{
        margin-bottom: 30px;
        background-color: #1FFFE1;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0px;
        width:900px;
        /* font-family: 'Italianno', cursive; */
    }.discount{
  
  
        background-image: url(images/img1.jpg);
     
        height:980px;
      
        width:900px;
        /* display: flex;
        margin: 10px auto 10px auto; */
    }

}
@media (max-width:872px)
{.discount{
  
  
    background-image: url(images/img1.jpg);
 
    height:580px;
  
    width:900px;
    /* display: flex;
    margin: 10px auto 10px auto; */
}

.dCard{
    background-color: #1FFFE1;
  
    text-align: center;
    height: 170px;
    width:700px;
    margin-right: 0px;
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 15px;
    
  
}
    
} 



@media (max-width:895)
{
    
    .selection{
        text-align: center;
        display: inline-block;
        margin: 0px 0px 0px 0px;
        padding-top:30px ;
        height:20px;
        width:700px;
    } 
    .home{
        height: 700px;
        background-color: #75096c;
        margin-top: 0px;
        width:1000px;
      
    }  
    .innerBox{
        text-align: center;
        width:800px;
    }
    .luxary{
        margin-bottom: 30px;
        background-color: #1FFFE1;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0px;
        /* font-family: 'Italianno', cursive; */
        width:850px;
    }
    .Card{
        height: 500px;
        width: 400px;
        display: inline-block;
        text-align: center;
        margin: 0px;
    
    }
    
}
@media (max-width:780px)

{.bn{
    top:1200px;
    left:410px;
}
}




@media (max-width:966px)
{
    .bn{
        left:400px;
    }
}