*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
}
nav{
    background: black;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    position: absolute;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:active,a:hover{
    background: #a29bfe;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 20px;
        padding-left: 1px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fab1a0;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a:active{
        background: none;
        color: #a29bfe;
    } 
    #check:checked ~ ul{
        left: 0;
    }
}
.backimg{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1541651386030-c810c6e07e1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-repeat: repeat-x;
    background-size: 100% 100%;  
    background-attachment: fixed;
} 
.backimg1{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80'); 
    background-repeat: repeat-x;
    background-size: 100% 100%;  
    background-attachment: fixed;
} 
#fontcss{
    font-family: 'Rubik Gemstones', cursive;
    font-variant: small-caps;
    font-size: 1.8em;
    font-weight: 800;
    text-transform: capitalize;
    background-color: #29b45a;
    text-align: center;

}
.backimg p{
    color: #6F1E51;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    padding-top: 4em;
}
.backimg h3{
    color: #d35400;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 18em;
} 

/*----about----*/
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about{
    height: 65%;
    padding:15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}
.row .sub{
    color: white; 
    padding: 10px 20px;
    text-align: center;
    margin: 0;
}
.row  p{
    padding: 0px;
    color: #ffeaa7; 
    letter-spacing: normal;
    line-height:normal;
}
/*----contact-----*/
#contact{
    height: 35%;
    padding: 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
}
.roww{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
}
.roww .subb{
    color: white; 
    padding: 10px 10px;
    text-align: center;
}
.roww  p{
    padding: 0px;
    color: #ffeaa7; 
    letter-spacing: normal;
    line-height:normal;
    text-align: center;
}
#foot{
    padding-top: 20px;
    font-weight: 900;
    font-size: 1.5rem;
    color: black;
    letter-spacing: normal;
    line-height:normal;
    text-align: center;
    height: 10vh;
    background-color: #ffeaa7;
}
