.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__icon {
    object-fit: contain;
    height: 60px;
    margin-left: 20px;
    
}

.header__center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content; /* fit fully inside container */
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;  /* removes outline on input */
    /* width: 250px; */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19vw;
    margin-right: 80px;
    
}