body {
  background: linear-gradient(0deg, rgb(82 90 115) 0%, rgb(50 94 125) 81%);
  font-family: math;
}

/* For heading */
h1 {
  text-align: center;
  font-size: 40px;
  color: aliceblue;
}

/* Aligning the form to center */
.center {
  margin: auto;
  width: 50%;
  text-align: left;
}

form {
   background: #ffb555; 
   border-radius: 1rem;
   padding-top: 2rem;
   padding-left: 2rem;
}
/* Adding css to submit button */
.btn {
  position: relative;
  left: 250px;
  margin: 15px;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 30px;
  background-color: #265254;
  border: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

label {
  font-size: 20px;
  text-decoration: solid;
  font-weight: bold;
  margin: 2px 4px 5px 4px;
  color: #344960;
}

input {
  margin: 10px 20px 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;

}

.cls1{
  margin-left: 5.5rem;
}
.cls2{
  margin-left: 4rem;
}
.cls3{
  margin-left: 9rem;
}
.cls4{
  margin-left: 7rem;
}
.cls5{
  margin-left: 10rem;
}
.cls6{
  margin-left: 7rem;
}
.cls7{
  margin-left: 9rem;
}
.cls8{
  margin-left: 7rem;
}