@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 8px;
}

/* header */
header {
    background-color: var(--primary-color);
    height: 56px;
}
header .nav-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}

header .nav-container .logo{
    display: flex;
    min-width: 137px;
    justify-content: flex-start;
    margin-left: -7rem;

}

header .nav-container .logo img{
    width: 75px;
}

header .search{
    height: 100;
    display: flex;
    align-items: center;
    margin-left: 11rem;
}

header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23% );
    display: flex; 
}

header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}
header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
header .login{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 12rem;
    margin-left: 2rem;
}
header .login button{
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}

header .become-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}

header .more{
    height:100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}

header .more svg{
    margin-left: 8px;
    rotate: -90deg;
}

header .cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}

header .cart svg{
    margin-right: 8px;
}

/* section 1  */

.section-1{
    width: 100%;
    height: 122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0,0,0/16%);
}

.section-1-container{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-1-item{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.section-1-item img{
    width: 64px;
    height: 64px;
}


/* section 2 */

.section-2-container{
    margin-top: 16px;
    height: 280px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* section-3 */

.section-3-container{
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* section-4 */

.section-4-container {
    height: 100%;
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-4-offers {
    width: 230px;
    height: 100%;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
    background-position: bottom;
    background-repeat: no-repeat;
}
.section-4-offers-viewall{
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-offers-viewall button {
    margin-top: 24px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-4-list {
    height: 100%;
    width: calc(100% - 230px);
    display: flex;
    overflow-x: auto;
}
.section-4-item{
    width: 232px;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-4-item img {
    max-width: 200px;
    max-height: 200px;
}
.section-4-item-head{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
}
.section-4-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}
.section-4-item-explore{
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 12px;
}

/* section-5 */

.section-5-container{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.section-5-container img{
    width: 33%;  
}

/* footer */
footer{
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color:#878787 ;
}















