@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles for waftengine */
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.scrollbar {
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.scrollbar.inverted::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
