*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo #agent{
    width: 130px;
    padding: 5px;
}

.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: blueviolet;
}
 a:hover{
     color: brown;
 }
p{
    color:blueviolet;
}

.container{
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    background-color: crimson;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
     background:radialgradient(#fff,#ffd6d6)
}

body{
    font-family: 'Mochiy Pop One', sans-serif;
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
     width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: crimson;
    width: 50px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

h4{
    color: black;
    font-weight:normal ;
}

.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}

/* offer */
.offer{
    background: radial-gradient(#fff);
    margin-top: 80px;
    padding: 30px;
}

.col-2 .offer_img{
    padding: 50px;
}

/* testimonials */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial:hover{
    transform:translateY(-10px)
}
.fas.fa-quote-left{
    font-size: 34px;
    color: #ff523b
}
.fas.fa-star{
    color: #ff523b;
}
.far.fa-star{
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: grey;
}
.col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.brands{
    margin: 100px auto;
}
.col-5{
     width: 160px;
}
.col-5 img{
    width:100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* footer */
.footer{
    background-color: black;
    color: #ffd6d6;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #ffd6d6;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
        width: 180px;
        margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.logo1{
    margin-top: 20px;
}
.logo1 img{
    width: 140px;
}
.footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
    }
.Copyright p{
    color: grey;
}

.menu-icon{
    
    margin-left: 20px;
    padding-top: 20px;
    display: none;
}
.bag-icon{
    padding-top: 20px;
}
/* media query for menu */
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* media query for less than 600 screen size*/
@media only screen and (max-width:600px) {
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}