*{
    margin:0;
    padding:0;
}
body{
    color: white;
    width:100vw;
    height: 100vh;
    background-color:#A52A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main{
    font-size: 3rem;
    width:60%;
    border-radius: 20%;
    height: 50%;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
i{
   
    width: 47px;
    height: 47px;
  
    border-radius: 90%;
    animation: animate 4s ease-in-out infinite alternate;
    color: white;
    background-color: black;
}
i:hover{
    color: black;
    background-color: white;
    transform: scale(1.1);
  
}
@keyframes animate {
    0%{
transform: scale(1);
    }
    100%{
    transform:  translateX(190px);
    }
}
#i1{
animation-delay: 1s;
}
#i2{
    animation-delay: 4s;
    }
    #i3{
        animation-delay: 7s;
        }
       