body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  font-family: monospace;
}

.container {
  background: #607d8b;
  width: 500px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: -23rem;
  color: wheat;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

.textarea {
  resize: none;
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px darkgray;
  background: #d6dde1;
  border-radius: 1rem;
  color: grey;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.counter-container p {
  font-size: 18px;
  color: aliceblue;
}

.total-counter {
  color: slateblue;
}

.remaining-counter {
  color: orangered;
}
