.home-page {
    background: #f9f9fc
}

.home-page,.home-page div,.home-page h2,.home-page h3,.home-page span {
    font-family: Source Sans Pro,Verdana,sans-serif
}

.home-page body {
    -webkit-font-smoothing: antialiased
}

.home-page #global-main {
    padding: 0
}

.home-page .hp-instr {
    margin: 0 auto;
    min-width: 300px;
    min-height: 250px;
    padding: .5rem 0!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media screen and (min-width: 48rem) {
    .home-page .hp-instr {
        min-width:728px;
        min-height: 90px
    }
}

.home-page .module a {
    text-decoration: none
}

.home-page .module img {
    width: 100%
}

.home-page .module ul {
    padding: 0 1rem
}

@media screen and (min-width: 64rem) {
    .home-page .module ul {
        padding:0!important
    }
}

.home-page .module-text-eyebrow {
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.25rem
}

@media screen and (min-width: 64rem) {
    .home-page .module-text-eyebrow {
        font-size:.875rem
    }
}

@media screen and (min-width: 48rem) {
    .home-page .module-text-eyebrow {
        font-size:.75rem
    }
}

.home-page .module-sub-header-link {
    text-transform: capitalize
}

.home-page .module-list-title {
    color: #0078c2;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem
}

@media screen and (min-width: 64rem) {
    .home-page .module-list-title {
        font-size:1.5rem;
        line-height: 2.25rem
    }
}

.home-page .module-list-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem
}

@media screen and (min-width: 64rem) {
    .home-page .module-list-text {
        font-size:1.375rem;
        line-height: 2rem
    }
}

.home-page .module-header {
    margin-bottom: 1.25rem;
    padding: 0 1rem
}

@media screen and (min-width: 64rem) {
    .home-page .module-header {
        padding:0;
        margin-bottom: 1.875rem
    }
}

.home-page .module-sub-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #c6cedb;
    padding-bottom: .625rem
}

.home-page .module-sub-header h2 {
    color: #113551;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding: 0
}

@media screen and (min-width: 48rem) {
    .home-page .module-sub-header h2 {
        font-size:1.25rem;
        line-height: 1.5625rem
    }
}

@media screen and (min-width: 64rem) {
    .home-page .module-sub-header h2 {
        font-size:1.5rem;
        line-height: 1.875rem
    }
}

.home-page .module-sub-header-link {
    color: #0078c2;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none
}

.home-page .global-container-2 .module-f-hs h3,.home-page .global-container-2 .module-f-idc h3 {
    border-bottom: none!important
}

.home-page .global-container-2 .module-f-hs {
    padding-top: 0!important
}

.home-page .hp-top {
    margin: 1.25rem 0 3rem 0
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top {
        margin:1.875rem 0 3.75rem 0
    }
}

.home-page .hp-top .module-list {
    row-gap: 2.5rem;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.home-page .hp-top .module-list-text {
    color: #4a4a4a;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list-text {
        font-size:1.375rem;
        line-height: 2rem
    }
}

.home-page .hp-top .module-list>li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.home-page .hp-top .module-list>li:first-child>a {
    gap: .625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:first-child>a {
        gap:2.5rem
    }
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:first-child>a:hover img.module-list-image {
        opacity:.5
    }
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:first-child>a {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.home-page .hp-top .module-list>li:first-child>a .module-list-title {
    color: #0078c2;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: .375rem 0
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:first-child>a .module-list-title {
        font-size:2.625rem;
        line-height: 3.3125rem;
        margin-top: .875rem
    }
}

.home-page .hp-top .module-list>li:not(:first-child) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:not(:first-child) {
        margin:0;
        width: 30%
    }
}

.home-page .hp-top .module-list>li:not(:first-child) .module-list-title {
    color: #333132;
    margin: 0;
    padding: 0 .3125rem
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-text:hover .module-list-title {
        color:#0078c2
    }
}

.home-page .hp-top .module-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.home-page .hp-top .module-text-eyebrow {
    background-color: #cf1c1c;
    color: #fdebeb;
    padding: .1875rem
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-text-eyebrow {
        font-size:.875rem
    }
}

.home-page .hp-top .module-list {
    row-gap: 1.75rem
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list {
        row-gap:1.875rem
    }
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:first-child>a {
        padding-bottom:1.875rem;
        border-bottom: 1px solid #c6cedb
    }
}

.home-page .hp-top .module-list>li:first-child>a .image-container {
    min-height: 15rem;
    min-width: 100%
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:first-child>a .image-container {
        min-height:20.3125rem;
        min-width: 30.25rem
    }
}

.home-page .hp-top .module-list>li:first-child>a .module-text .module-list-title {
    margin: .375rem 0!important
}

.home-page .hp-top .module-list>li:first-child>a .module-list-image {
    height: auto;
    width: 100%
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:first-child>a .module-list-image {
        left:0;
        position: static
    }
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:first-child>a .module-list-image {
        left:0;
        position: static
    }
}

.home-page .hp-top .module-list>li:not(:first-child) .module-list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .875rem
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link:hover .module-list-image {
        opacity:.5
    }

    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link:hover .module-list-title {
        color: #0078c2
    }
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.home-page .hp-top .module-list>li:not(:first-child) .module-list-link .image-container {
    min-height: 6.5rem;
    min-width: 9.6rem
}

.home-page .hp-top .module-list>li:not(:first-child) .module-list-link .image-container .module-list-image {
    width: 9.75rem
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link .image-container .module-list-image {
        width:14.0625rem
    }
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link .image-container .module-list-image {
        margin:0;
        max-width: 9.625rem;
        width: 100%
    }
}

.home-page .hp-top .module-list>li:not(:first-child) .module-list-link .module-text .module-list-title {
    -ms-flex-item-align: baseline;
    align-self: baseline;
    font-size: 1.125rem;
    line-height: 1.625rem
}

@media screen and (min-width: 48rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link .module-text .module-list-title {
        line-height:1.625rem;
        font-size: 1.25rem
    }
}

@media screen and (min-width: 64rem) {
    .home-page .hp-top .module-list>li:not(:first-child) .module-list-link .module-text .module-list-title {
        line-height:1.875rem
    }
}
