
body {
        background-image: linear-gradient(to bottom right, rgb(28, 26, 24), rgb(99, 35, 47));
        height: 100%;
        width: 100%;
        color: rgb(198, 94, 94);
        overflow: hidden;
}

.container-full{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
hr{
    background-color: white;
    height: 2px;
}

h2 {
    margin-top: 14px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

.change {

    font-size: 12px;
    margin-top: -8px;
}

.container {
    color: white;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 70%;
    border: 3px black solid;
    border-radius: 8%;
    font-weight: bold;
}

.newupdate-1 {
    font-weight: bold;
    margin-top: -15px;
    text-align: center;
    font-size: 17px;
}

.newupdate-2 {
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

#message {
    font-size: 13px;
    color: red;
}


button {
    background-color: green;
    width: 70px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin: 3px;
    border-radius: 6px;
   


}
.submit{
    text-align: center;
}


form {
    margin: 4%;
}

form input {
    margin: 10%;
    border: 3px black solid;
    border-radius: 8px;

}
form label{
    color: yellow;
}