body {
  background: linear-gradient(to top left, #94ddf6, #ffffff);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace !important;
}

.container-full {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top left, #94ddf6, #ffffff);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(89, 90, 122);
}

.change {
  font-size: 12px;
  margin-top: -8px;
}

.container {
  width: 550px;
  margin: 0 auto; /*dont align vertically with margin*/
  position: relative;
  top: 40%; /* whole signup will be 50% down but we need to get middle of signup that is 50% up from the current position*/
  transform: translateY(-50%);
  padding: 20px 40px;
  /* background-color: #ffffff09; */
  background: linear-gradient(to top left, #ffffff, #ffffff11);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #05789e;
  z-index: 2;
  color: cadetblue;

}
.container:hover {
  box-shadow: 8px 8px 15px #28c4f8;
}
.newupdate-1 {
  font-weight: bold;
  margin-top: -15px;
  text-align: left;
  font-size: 17px;
  
}

.newupdate-2 {
  font-weight: bold;
  text-align: left;
  font-size: 17px;
  border-radius: 1rem;
}

#message {
  font-size: 13px;
  color: red;
}
#submit {
  background-color: #11a9dc;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 1rem;

}
#submit:hover {
  background-color: #05789e;
}
form {
  margin: 4%;
}
p {
  margin: 10px 0;
}
form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #cccc;
  border-radius: 0.8rem;
  margin-top: 4px;
  font-size: 1rem;
}
label {
  font-weight: bold;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient(to top right, #ffffff33, #ffffff);
  position: absolute;
}
.c1 {
  top: 100px;
  left: 40px;
}
.c2 {
  bottom: 200px;
  right: 50px;
}
