body{
   margin: 0;
   padding: 0;
   color: white;
   background-image: url(https://cdn.neowin.com/news/images/uploaded/2021/04/1619644762_github-desktop_story.jpg);
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
    
}

#user-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
    color: black;

}
form{
    width: 100%;
    height: auto;
}
form input{
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}
img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.bio,.name,.follow{
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid grey;
    margin: 0;
}
.bio p{
    color: green;
}
.follow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.follow p,.bio p,.name p{
    margin: 20px 20px;
   
}
