.checkerboard > div:nth-child(1) {
    -webkit-animation-delay: 4.8571428571s;
            animation-delay: 4.8571428571s;
  }
  
  .checkerboard > div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  
  .checkerboard > div:nth-child(3) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  
  .checkerboard > div:nth-child(4) {
    -webkit-animation-delay: 1.1428571429s;
            animation-delay: 1.1428571429s;
  }
  
  .checkerboard > div:nth-child(5) {
    -webkit-animation-delay: 5.5714285714s;
            animation-delay: 5.5714285714s;
  }
  
  .checkerboard > div:nth-child(6) {
    -webkit-animation-delay: 6.4285714286s;
            animation-delay: 6.4285714286s;
  }
  
  .checkerboard > div:nth-child(7) {
    -webkit-animation-delay: 3.2857142857s;
            animation-delay: 3.2857142857s;
  }
  
  .checkerboard > div:nth-child(8) {
    -webkit-animation-delay: 2.5714285714s;
            animation-delay: 2.5714285714s;
  }
  
  .checkerboard > div:nth-child(9) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  
  .checkerboard > div:nth-child(10) {
    -webkit-animation-delay: 5.2857142857s;
            animation-delay: 5.2857142857s;
  }
  
  .checkerboard > div:nth-child(11) {
    -webkit-animation-delay: 0.4285714286s;
            animation-delay: 0.4285714286s;
  }
  
  .checkerboard > div:nth-child(12) {
    -webkit-animation-delay: 6.8571428571s;
            animation-delay: 6.8571428571s;
  }
  
  .checkerboard > div:nth-child(13) {
    -webkit-animation-delay: 6.8571428571s;
            animation-delay: 6.8571428571s;
  }
  
  .checkerboard > div:nth-child(14) {
    -webkit-animation-delay: 2.2857142857s;
            animation-delay: 2.2857142857s;
  }
  
  .checkerboard > div:nth-child(15) {
    -webkit-animation-delay: 0.5714285714s;
            animation-delay: 0.5714285714s;
  }
  
  .checkerboard > div:nth-child(16) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  
  .checkerboard > div:nth-child(17) {
    -webkit-animation-delay: 0.7142857143s;
            animation-delay: 0.7142857143s;
  }
  
  .checkerboard > div:nth-child(18) {
    -webkit-animation-delay: 2.8571428571s;
            animation-delay: 2.8571428571s;
  }
  
  .checkerboard > div:nth-child(19) {
    -webkit-animation-delay: 2.8571428571s;
            animation-delay: 2.8571428571s;
  }
  
  .checkerboard > div:nth-child(20) {
    -webkit-animation-delay: 0.4285714286s;
            animation-delay: 0.4285714286s;
  }
  
  .checkerboard > div:nth-child(21) {
    -webkit-animation-delay: 0.2857142857s;
            animation-delay: 0.2857142857s;
  }
  
  .checkerboard > div:nth-child(22) {
    -webkit-animation-delay: 1.5714285714s;
            animation-delay: 1.5714285714s;
  }
  
  .checkerboard > div:nth-child(23) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  
  .checkerboard > div:nth-child(24) {
    -webkit-animation-delay: 2.2857142857s;
            animation-delay: 2.2857142857s;
  }
  
  .checkerboard > div:nth-child(25) {
    -webkit-animation-delay: 5.7142857143s;
            animation-delay: 5.7142857143s;
  }
  
  .checkerboard > div:nth-child(26) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  
  .checkerboard > div:nth-child(27) {
    -webkit-animation-delay: 5.8571428571s;
            animation-delay: 5.8571428571s;
  }
  
  .checkerboard > div:nth-child(28) {
    -webkit-animation-delay: 6.4285714286s;
            animation-delay: 6.4285714286s;
  }
  
  .checkerboard > div:nth-child(29) {
    -webkit-animation-delay: 4.2857142857s;
            animation-delay: 4.2857142857s;
  }
  
  .checkerboard > div:nth-child(30) {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  
  .checkerboard > div:nth-child(31) {
    -webkit-animation-delay: 2.7142857143s;
            animation-delay: 2.7142857143s;
  }
  
  .checkerboard > div:nth-child(32) {
    -webkit-animation-delay: 4.7142857143s;
            animation-delay: 4.7142857143s;
  }
  
  .checkerboard > div:nth-child(33) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  
  .checkerboard > div:nth-child(34) {
    -webkit-animation-delay: 4.5714285714s;
            animation-delay: 4.5714285714s;
  }
  
  .checkerboard > div:nth-child(35) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  
  .checkerboard > div:nth-child(36) {
    -webkit-animation-delay: 5.7142857143s;
            animation-delay: 5.7142857143s;
  }
  
  .checkerboard > div:nth-child(37) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  
  .checkerboard > div:nth-child(38) {
    -webkit-animation-delay: 6.1428571429s;
            animation-delay: 6.1428571429s;
  }
  
  .checkerboard > div:nth-child(39) {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  
  .checkerboard > div:nth-child(40) {
    -webkit-animation-delay: 3.4285714286s;
            animation-delay: 3.4285714286s;
  }
  
  .checkerboard > div:nth-child(41) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  
  .checkerboard > div:nth-child(42) {
    -webkit-animation-delay: 4.1428571429s;
            animation-delay: 4.1428571429s;
  }
  
  .checkerboard > div:nth-child(43) {
    -webkit-animation-delay: 1.1428571429s;
            animation-delay: 1.1428571429s;
  }
  
  .checkerboard > div:nth-child(44) {
    -webkit-animation-delay: 4.5714285714s;
            animation-delay: 4.5714285714s;
  }
  
  .checkerboard > div:nth-child(45) {
    -webkit-animation-delay: 1.7142857143s;
            animation-delay: 1.7142857143s;
  }
  
  .checkerboard > div:nth-child(46) {
    -webkit-animation-delay: 3.7142857143s;
            animation-delay: 3.7142857143s;
  }
  
  .checkerboard > div:nth-child(47) {
    -webkit-animation-delay: 0.8571428571s;
            animation-delay: 0.8571428571s;
  }
  
  .checkerboard > div:nth-child(48) {
    -webkit-animation-delay: 1.7142857143s;
            animation-delay: 1.7142857143s;
  }
  
  .checkerboard > div:nth-child(49) {
    -webkit-animation-delay: 2.1428571429s;
            animation-delay: 2.1428571429s;
  }
  
  .checkerboard {
    background-image: url("https://assets.codepen.io/9632/walkrus-gradient.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
    width: 100%;
  }
  
  @media screen and (prefers-reduced-motion: no-preference) {
    .checkerboard > div {
      -webkit-animation-name: poof;
              animation-name: poof;
      -webkit-animation-duration: 0.25s;
              animation-duration: 0.25s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      background: #fff;
    }
  
    .checkerboard > div:nth-child(even) {
      background: #2f2f2f;
    }
  }
  @-webkit-keyframes poof {
    to {
      opacity: 0;
    }
  }
  @keyframes poof {
    to {
      opacity: 0;
    }
  }