* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(209, 234, 242);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
.image {
  width: 100vw;
  display: flex; 
  justify-content: space-evenly;
}
.image img {
  width: 300px;
  height: 300px;
}

h1 {
  text-decoration: underline;
  text-align: center;
  transition: .5s ease;
  margin: 2%;
}
h1:hover {
  font-size: 40px;
  transition: .5s ease;
}
p {
  font-size: 20px;
  text-align: center;
  margin: 1%;
  line-height: 30px;
  letter-spacing: 2px;
}

.gift {
  text-align: center;
  font-size: 35px;
  margin: 3% auto auto auto;
}
button {
  font-size: 25px;
  height: 50px;
  width: 150px;
  background-color: crimson;
  border-radius: 8px;
  margin: 2%;
}


.giftContent {
  width: 100vw;
  height: 100vh;
}
.giftContent h2 {
  text-align: center;
  margin: 2% auto;
  font-size: 30px;
  text-decoration: underline;
}
.giftPresent {
  display: block;
  margin: auto;
  margin-top: 5%;
}
