body {
  background-color: #FFAAC9;
  background-image: url("background.jpg");
}
h1 {
  text-decoration:wavy;
  /* display: inline-block; */
  text-align: center;
  display: relative;
  float: top;
  margin-left:10rem;
}
p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  height: 300px;
  width: 300px;
  margin-top: 0px;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
}
#second {
  position: relative;
  float: right;
}
div {
  text-align: center;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}
.my-button {
  background-color:#FF597B;
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; /*to add smooth transition
}

.my-button:hover {
  background-color: #FB2576; /* Change background color on hover */
}

#gifty {
  padding-top: 25px;
}
.gif {
  margin-left: 550px;
  margin-top: 50px;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-left:0%;

}
.envelope {
  position: relative;
  width: 700px;
  height: 820px;
  background-color:#FFEEEE;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: floating 3s infinite alternate;
  line-height: 40px;
  
  
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.envelope-flap {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 30px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.envelope-content {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

p.typing-text {
  font-size: 16px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

.typing-text span {
  display: block;
  overflow: hidden;
  animation: typing 2s linear alternate both;
  animation-delay: calc(var(--delay) * 0.4s);
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.bottom-text{
  font-size: 5rem;
  margin-left: 10rem;
  color:#333
}
.birthday-text{
  margin-bottom: 2rem;
  font-size: 6rem; 
  font-weight: 500;
}

