.container, button{
     text-align: center;
     border-radius: 5px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
     /* padding: 10px; */
     /* width:100px; */
}