.speechToText {
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convertVoice {
    padding-top: 4rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fbd0d0;
}


.textInfo {
    display: flex;
    margin: 4rem;
}

.textLeft2 {
    flex: 0.3;
}

.textLeft2 > img {
    width: 400px;
}

.textRight2 {
    flex: 0.7;
}

.textRight2 > p {
    padding: 3rem;
    font-size: 28px;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    
}

.recorder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recorder > .MuiSvgIcon-root {
    font-size: 40px;
    padding-bottom: 2.5rem;
}

.recodedText {
    margin-top: 2rem;
}


.textPaper > .MuiIconButton-root {
    position: relative;
    float: right;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: black;
}

.textPaper {
    height: 500px;
    width: 400px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.textPaper > p {
    padding-top: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.speechToText > button {
    color: #ffffff;
    background-color: #ff6464;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.speechToText > button:hover {
    color: #ff4b4b;
    background-color: #ffffff;
    font-weight: 600;
    transition: 600ms ease-in-out;
}

.buttonsContainer > button {
    color: #ec4c4c;
    margin: 2rem;
    background-color: #262626;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem 1.5rem;
}

.buttonsContainer > button:hover {
    background-color: #ffffff;
    color: #ff5f5f;
    transition: 300ms ease-in;
}



@media screen and (max-width: 992px) {

    .textPaper {
        height: 500px;
        width: 400px;
    }
    .buttonsContainer > button {
        margin: 1rem;
        font-weight: 600;
    }
  }

  
  @media screen and (max-width: 600px) {

    .textPaper {
        height: 400px;
        width: 300px;
    }
    .buttonsContainer > button {
        margin: 0.75rem;
        font-weight: 600;
    }
  }
