@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


body {
    background-color: #c799ff;
}

.heading {
    padding-bottom: 40px;
}

.social a {
    font-size: 2em;
    padding: 3rem;
}

.fa-instagram {
    color: #ff0066;
}
.fa-facebook {
    color: #0039e6;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover {
    color: #d5d5d5;;
}

.btn {
    background-color: chartreuse;
}

@media (min-width: 576px) {
    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
    }
}



.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}


@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

