.team {
  box-sizing: border-box;
  padding: 100px 150px;
  position: relative;
  width: 100%;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.team #search{
  font-family: Poppins;
  appearance: none;
  border-radius: 50px;
  outline: none;
  border: 3px solid var(--orange);

  color: var(--brown);
  background: var(--light);
  font-size: 1rem;
  font-weight: 600;

  padding: 10px 15px;
  width: 500px;
}

.team .title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.team .title .num {
    background: var(--yellow);
    color: var(--light);
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .card-container{
    width: 100%;
    padding: 80px 0 70px;
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 100px 50px;

}

.team .card-container .card {
  position: relative;
    width: 250px;
    height: 280px;
    background: linear-gradient(to bottom, var(--orange-70) 0% 40%, var(--light) 40% 100%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 15px; 

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    transition: transform 0.5s;
}
.team .card-container .card:hover {
    transform: translateY(-5px) scale(1.01);
}

.team .card-container .card .dp {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--grey);
    overflow: hidden;
    border: 5px solid var(--orange);
}

.team .card-container .card .dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .card-container .card .name {
    text-align: center;
    color: #212121;
    font-size: 1.3rem;
    font-weight: 600;
    width: 85%;
    line-height: 1.5rem;

    margin-top: 50%;
}
.team .card-container .card .sub {
    color: var(--dark);
    text-align: center;
    margin-top: 5px;
    opacity: 0.9;
    font-size: 1rem;
    font-weight: 500;
    transform: translateY(-15px);
}

.team .card-container .card a.btn {
    color: var(--light);
  background: var(--orange);
  width: 180px;
  height: 50px;
  border-radius: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;

  position: absolute;
  bottom: 40px;
  
  transform: translate(0,20px);
  transition: background-color 0.3s;
}

.team .card a.btn:hover {
  background: var(--orange-active);
}

@media (max-width: 450px){
  .team{
    padding: 10px 0 80px;
      /* display: none; */
  }
  .team #search{
    font-size: 0.8rem;
    padding: 8px 12px;
    width: 70%;
  }
  .team .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--brown);
    gap: 10px;
  }
  .team .title .num {
    transform: scale(0.7);
}
  .team .card-container{
    padding: 40px 0 60px;
    gap: 60px 30px;
  }
  .team .card-container .card {
      width: 150px;
      height: 170px;
      background: var(--light);
      box-sizing: border-box;
      border: 3px solid var(--orange-40);
      box-shadow: none;
      border-radius: 15px; 
      gap: 0; 
    }
    .team .card-container .card:hover {
      transform: translateY(0) scale(1);
    }
    .team .card-container .card .dp {
      width: 60px;
      height: 60px;
      border: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
  .team .card-container .card .name {
    font-size: 1rem;
    line-height: 1rem;
    height: fit-content;
    width: 90%;
    margin: 30%;
  }
  .team .card-container .card .sub {
    transform: translateY(0px);
    width: 90%;
    margin-top: -40px;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  .team .card-container .card a.btn {
    font-weight: 500;
    font-size: 0.8rem;
    height: 35px;
    width: 100px;
    border-radius: 40px;
    bottom: 8px;
    transform: translateY(0);
  }
}
