<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected file sharing</title>
</head>
<body>

    <% if (locals.fileLink != null) { %>

        <div style="margin-bottom: 1 rem;" >
            Your file is uploaded at 
            <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>

    <% } %> 

    <form action="/upload"  method="post" style="display: grid; gap:0.5rem; grid-template-columns: auto 1fr; max-width: 500px; margin:0 auto" enctype="multipart/form-data" >
        <label for="file">File:</label>
        <input type="file" id="file"  name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password"  name="password"  />
        <button type="submit" style="grid-column:span 2",>Share</button>
    </form>
</body>
</html>