<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>
<body>

    <% if (locals.error) { %>

        <div style="color:red;margin-bottom: 1 rem;" >
             Incorrect Password
        </div>

    <% } %> 
    
    <form   method="post" style="display: grid; gap:0.5rem; grid-template-columns: auto 1fr; max-width: 500px; margin:0 auto" >
        <label for="password">Password:</label>
        <input type="password" id="password"  name="password" required />
        <button type="submit" style="grid-column:span 2",>Download</button>
    </form>
    
</body>
</html>