body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    background-color: #218380;
    color: #ffffff;
    padding: .6rem;

}

header div {
    margin-inline: 5px;
    text-align: center;
    padding-inline: .5rem;
}



.container1 {
    display: block;
    text-align: left;
    border: .1px solid rgb(218, 218, 218);
    padding: 2rem;
    border-radius: 20px;
    height: 30%;
    margin: auto;
    width: 50%;
    margin-top: 20vh;
    box-shadow: 10px 10px 8px #888888;
}

.container2 {
    display: none;
    text-align: left;
    border: 1px solid rgb(218, 218, 218);
    padding: 2rem;
    border-radius: 20px;
    height: fit-content;
    margin: auto;
    width: 60%;
    margin-top: 15vh;
    box-shadow: 10px 10px 8px #888888;
}

.container3 {
    display: none;
    text-align: left;
    border: .1px solid rgb(218, 218, 218);
    padding: 2rem;
    border-radius: 20px;
    height: fit-content;
    margin: auto;
    width: fit-content;
    margin-top: 20vh;
    box-shadow: 10px 10px 8px #888888;
}

button {
    border: none;
    border-radius: 20px;
    background-color: #218380;
    font-size: 1rem;
    padding: 10px;
    color: #ffffff;
    margin: .5rem;
}

.container4 {
    display: none;
    text-align: left;
    border: .1px solid rgb(218, 218, 218);
    padding: 2rem;
    border-radius: 20px;
    height: fit-content;
    margin: auto;
    width: fit-content;
    margin-top: 20vh;
    box-shadow: 10px 10px 8px #888888;
}


#leaderboard,#start,button{
    cursor: pointer;
}
/* #timer{
    display: none;
} */

.box {
    height: 10vh;
    /* margin: ;
    margin-top: ; */
}

.box1 {
    height: 30vh;
    padding: 30px;
    display: grid;
    grid-gap: 10px;
}

.option {
    background-color: #218380;
    color: #ffffff;
    border-radius: 20px;
    padding: 1rem;
    border: .2px solid #218380;

}

.option:hover {
    background-color: #ffffff;
    color: #218380;
    border: .2px solid #218380;
    cursor: pointer;
}

#result {
    padding-inline-start: 3rem;
    font-size: 2rem;
    color: #218380;
}