*{
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
   
}

body{
   font-family: 'Open Sans', sans-serif;
   
  }

nav{
   background-color: #A66CFF;
   height: 80px;
   width: 100%;
}
label.logo{
   color: aliceblue;
   font-size: 35px;
   font-weight: bold;
   line-height: 80px;
   padding: 0px 100px;
}

nav ul{
   float: right;
   margin-right: 20px;
}
nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}
nav ul li a{
   color: aliceblue;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   text-transform: uppercase;
}
a.active,a:hover{
   background-color: #31087B;
   transition: .5s;
   
}
.checkbtn{
   font-size: 30px;
   color: #fff;
   cursor: pointer;
   float: right;
   margin-right: 40px;
   line-height: 80px;
}

#check{
   display: none;
}

@media (max-width: 952px){
   label.logo{
      font-size: 30px;
      padding-left: 50px;
   }
   nav ul li a{
      font-size: 16px;
   }
}
@media(max-width: 858px){
   .checkbtn{
      display: block;
   }
   ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      /* top: 80%; */
      left:-100%;
      text-align: center;
      transition: all .5s;
   }
   nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
   }
   nav ul li a{
      font-size: 20px;
   }
   a:hover , a.active{
      background: none;
      color: #0082e6;
   }
   #check:checked ~ ul{
      left: 0;
   }
}

/* #h{
   float: left;
   width: 400px;
}
#i{
   float: left;
   width: 400px;
}
#j{
   float: left;
   width: 400px;
}
#g{
   width: 1300px;
} */