#login .container {
  margin-top: 5%;
  max-width: 603px;
  min-width: max-content;
  height: 37em;
  border: 0px solid #000000;
  background-color: #e4e4e4;
  border-radius: 20px;
  padding: 5%;
  text-align: center;
}
.login-row {
  padding: 10px;
}
#login-buttons {
  padding: 10px;
}
.app-name {
  color: #d4220e;
  font-weight: 600;
  float: right;
  padding-left: 0.3em;
  padding-top: 2em;
}

.link {
  padding-top: 0.5em;
}
.link a {
  text-decoration: none;
  font-weight: bolder;
  color: #da2d1a;
}
.error {
  padding-top:0.5em;
  font-size: 13px;
  color: #da2d1a !important;
  float: left;
}
