<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizME - Due date passed</title>

    <style>
        .container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: grey;

        }

        img{
            height: 50%;
        }

        label{
            margin-top: 20px;
            font-size: 24px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="images/due_date_passed.svg" alt="">
        <label>Sorry due date for this quiz has already passed!</label>
    </div>
</body>
</html>