*{
    margin: 0;
    padding: 0;
}

.navigation{
    font-family: var(--font1);
    margin-top: 25px;
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
}

.nav-left span{
    font-size: 35px;
    padding-top: 10px;
}
.nav-left img{
    width: 130px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-right{

}

.content{
    display: flex;
    height: 100%;
    /* background-color: rgb(209, 209, 231); */
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after{
    content: "";
    background: url(/img/D_48-01.svg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.09;
    border-radius: 12px;
}

.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles{
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    position: relative;
}

.year-box{
    position: absolute;
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}

.year-box div{
    margin: 12px 0;
}

.home-article{
    display: flex;
    margin: 25px;
}

.home-article img{
    width: 300px;
    border-radius: 5px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}

.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer a{
    color: white;
}