<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-top: 20px;
    }

    @media only screen and (max-width: 600px) {
        .container {
            margin-left: 10px;
            margin-top: 10px;
        }
    }
</style>

<div class="container">
    <h2 style="color: #A0D981; font-size: 25px; font-family: 'hack'; font-weight: normal; text-align: left;">
        Here's the GitHub repo:
    </h2>
</div>
