node_modules/
/target/
.DS_Store
package-lock.json
coverage/
.nyc_output/
.cache/
dist/
lib/
.vscode/
.idea/
*.min.js
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp
.verdaccio_storage/
sourcemap-info.json
yarn.lock