<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Login System</h2>
                <span>log in for the existing user</span>
                
            </div>
            <form action="/route/login" method="post" class="pt-3">
                <div class="form-group">
                    <input type="email" name="email" id="" class="form-control" placeholder="email">
                    <small class="form-text text-muted text-left">register email id</small>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success rounded-pl mt-2">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>