div{
    height:200px;
           margin-left:50px;
           margin-top:20px;
   }
   body{
       overflow: hidden;
       background: linear-gradient(
           45deg,
           #f09433 0%,
           #e6683c 25%,
           #dc2743 50%,
           #cc2366 75%,
           #bc1888 100%
           );;
   }
   button{
   border:2px solid red;
       background: linear-gradient(
       45deg,
       #f09433 0%,
       #e6683c 25%,
       #dc2743 50%,
       #cc2366 75%,
       #bc1888 100%
       );
       font-size: 90px;
       width:200px;
       height:200px;
       border-radius: 250px;
       color: white;
       } 
       button:hover{
       transform:scale(1.3);
       transform: rotateZ(360deg);
         transition:1s;   
         color: blue;
        }