@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap';* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins,sans-serif
}

.search {
  height: 40vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center
}

.search::before,.search img,.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute
} 
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.search::before {
  content: "";
  z-index: 1;
  background: rgba(0,0,0,.25)
}

.search img {
  object-fit: cover
}

.search .content {
  z-index: 2;
  color: #fff;
  padding: 0 13px;
  text-align: center;
  position: relative
}

.search h1 {
  font-size: 2.65rem;
  font-weight: 600
}

.search p {
  margin-top: 8px;
  font-size: 1.5rem
}

.search .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative
}

.search-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: default;
  color: #8d8d8d;
  font-size: 1.4rem;
  transform: translateY(-50%)
}

.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 55px;
  background: #fff;
  border-radius: 5px
}

.search-box input::placeholder {
  color: #929292
}

.search-box input:focus::placeholder {
  color: #bfbfbf
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center
}

.gallery .images {
  gap: 15px;
  max-width: 95%;
  margin-top: 40px;
  columns: 5 340px;
  list-style: none
}

.gallery .images .card {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 30px
}

.gallery .images img {
  width: 100%;
  z-index: 2;
  position: relative
} 

.images .details {
  position: absolute;
  z-index: 4;
  width: 100%;
  bottom: -100px;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
  transition: bottom .1s ease;
  background: linear-gradient(to top,rgba(0,0,0,0.7),transparent)
}

.images li:hover .details {
  bottom: 0
}

.photographer {
  color: #fff;
  display: flex;
  align-items: center
}

.photographer i {
  font-size: 1.4rem;
  margin-right: 10px
}

.photographer span {
  font-size: 1.05rem
}

button,i {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s ease
}

.details button {
  background: #fff;
  font-size: 1.1rem;
  padding: 3px 8px
}

.details .download-btn:hover {
  background: #f2f2f2
}

.gallery .load-more {
  color: #fff;
  background: #8a6cff;
  margin: 50px 0;
  font-size: 1.2rem;
  padding: 12px 27px
}

.gallery .load-more.disabled {
  opacity: .6;
  pointer-events: none
}

.gallery .load-more:hover {
  background: darkblue
}

.lightbox {
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,.65)
}

.lightbox.show {
  visibility: visible
}

.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%,-50%) scale(.9);
  transition: transform .1s ease
}

.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%,-50%) scale(1)
}

.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

header .photographer {
  color: #333
}

header .photographer i {
  font-size: 1.7rem;
  cursor: auto
}

header .photographer span {
  font-size: 1.2rem
}

header .buttons i {
  height: 40px;
  width: 40px;
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
  background: #8a6cff;
  border-radius: 4px;
  transition: .2s ease
}

header .buttons i:first-child:hover {
  background: #704dff
}

header .buttons i:last-child {
  margin-left: 10px;
  font-size: 1.25rem;
  background: #6c757d
}

header .buttons i:last-child:hover {
  background: #5f666d
}

.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px
}

.preview-img .img {
  max-height: 65vh
}

.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.to-top {
  background: #8a6cff;
  position: fixed;
  bottom: 12px;
  right: 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items:center;
  color: black;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 12px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 688px) {
  .lightbox .wrapper {
      padding:12px;
      max-width: calc(100% - 26px)
  }

  .wrapper .preview-img {
      margin-top: 15px
  }

  header .buttons i:last-child {
      margin-left: 7px
  }

  header .photographer span,.search p {
      font-size: 1.1rem
  }

  .search h1 {
      font-size: 1.8rem
  }

  .search .search-box {
      height: 50px;
      margin: 30px 0
  }

  .gallery .images {
      max-width: 100%;
      padding: 0 13px;
      margin-top: 20px
  }

  .images .details {
      bottom: 0
  }

  .gallery .load-more {
      padding: 10px 25px;
      font-size: 1.05rem
  }
}
