
.title {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0px;
    font-family: "Inter";
    font-size: 36px;
}

.card {
    width: 425px;
    height: 557px;
    border: 1px solid;
    margin: 75px auto;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #EC008C;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    padding: 10px;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 75%;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(116, 107, 107);
    opacity: 0.8;
}

input:focus {
    outline: none;
    color: black;
    opacity: 0.8;
    font-weight: 400;
}

button {
    padding: 15px;
    width: 55%;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 65px;
    cursor: pointer;
    background: linear-gradient(to right,#EC008C, #FC6767);
}

button:hover {
    background: linear-gradient(to right, #FC6767, #EC008C);
}

h2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    margin-top: 35px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .card {
        width: 300px;
        height: 500px;
        padding: 5px;
    }

    .title {
        margin-top: 55px;
    }

    button {
        margin-top: 50px;
    }

    h2 {
        margin-top: 25px;
    }
}