body {
    background-color: #99d2ff;
}


/* Custom Button from https://css3buttongenerator.com/ */
.btn {
    display: flex;
    margin: auto;
    margin-top: 50vh;
    background: #1c336e;
    background-image: -webkit-linear-gradient(top, #1c336e, #2f3d5e);
    background-image: -moz-linear-gradient(top, #1c336e, #2f3d5e);
    background-image: -ms-linear-gradient(top, #1c336e, #2f3d5e);
    background-image: -o-linear-gradient(top, #1c336e, #2f3d5e);
    background-image: linear-gradient(to bottom, #1c336e, #2f3d5e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    border: solid #272a4a 7px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    background: #4e7999;
    background-image: -webkit-linear-gradient(top, #4e7999, #4e7999);
    background-image: -moz-linear-gradient(top, #4e7999, #4e7999);
    background-image: -ms-linear-gradient(top, #4e7999, #4e7999);
    background-image: -o-linear-gradient(top, #4e7999, #4e7999);
    background-image: linear-gradient(to bottom, #4e7999, #4e7999);
    text-decoration: none;
  }