body {
  font-family: math;
  background: aliceblue;
  padding: 20px;
}

h1 {
  color: #cb7d63;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

input {
  border-radius: 0.8rem;
  color: #8080804a;
  background: #ffffff63;
  border: 2px solid burlywood;
  padding: 11px 22px;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

p {
  font-size: 18px;
  font-weight: bold;
}