* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(191, 172, 226, 0.35);
}

.typingSection {
    text-align: center;
}

#textarea {
    border: 0.1rem solid #A084DC;
    border-radius: 1rem;
    max-width: 50rem;
    width: 50rem;
    height: 20rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
}

#btn {
    display: inline-block;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 1rem;
    background-color: #645CBB;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.6rem;
    cursor: pointer;
}

h2 {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #645CBB;
    text-align: center;
}

#showSentence,
#score {
    font-size: 1.6rem;
    margin: 2rem 0;
    letter-spacing: 0.02rem;
    text-align: center;
}

.timerDiv {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.showTime {
    font-size: 2.4rem;
    padding: 1.5rem;
    text-align: right;
    width: 6rem;
    height: 6rem;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.5rem solid #645CBB;
}