* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #5a1667;
}

.container {
  max-width: 600px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #eda8e3;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

p {
  margin-bottom: 10px;
  color: #777;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f48080;
}

#result {
  font-weight: bold;
  margin-top: 20px;
  color: #e53935;
}

#score {
  text-align: center;
  margin-top: 20px;
}

#scoreValue {
  font-weight: bold;
  color: #4caf50;
}

.country-section {
  background-color: #f880a6;
  display: flex;
  justify-content: space-between;
}

.countries-container {
  width: 48%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #9c27b0;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 5px;
  color: #555;
}
