*{
    padding: 0;
    margin: 0;
}

body{
  background:url("parallax_background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.rule-heading{
  color: white;
  position: absolute;
  left: 17%;
  top: 20%;
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 30px;
  }
  .rule1{
    position: absolute;
    left: 17%;
    top: 30%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .rule2{
    position: absolute;
    left: 17%;
    top: 30%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .rule3{
    position: absolute;
    left: 17%;
    top: 33%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .scorestyle{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
  }
#game{
    width: 400px;
    height: 500px;
    border: 3px solid rgb(175 104 200);
    margin: auto;
    overflow: hidden;
}
#character{
    width: 25px;
    height: 25px;
    background-color: rgb(247, 102, 6);
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: rgb(178 233 229);
    position: relative;
    top: 100px;
    margin-top: -20px;
   
}
.hole{
    width: 40px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

 