@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Kalam&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-color: #ffffff;
  background-image: linear-gradient(
    6deg,
    #ffffff 0%,
    #6284ff 50%,
    #ff0000 100%
  );
}

h1 {
  font-size: 3rem;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

span {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(100px);
  display: inline-block;
  /*We did this because the transform won't work without it as span is a inline element and that is why we made the display inline block */
  font-size: 3rem;
  font-family: "Kalam", cursive;
  font-weight: lighter;
  padding: 0px 2.5px;
  /* For the 3d text of the heading */
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

.gameover {
  color: #23a6d5;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 110;
  display: block;
}
