body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(rgb(255, 254, 167), rgb(200, 255, 248));
}

h2{
    margin: 50px;
}
  
.container {
    display: flex;
}

.block{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    top: 170px;
}

.glass {
    position: relative;
    width: 100px;
    background-color: transparent;
    border-bottom: 200px solid rgb(63, 110, 119);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

@keyframes lift {
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 30px;
        }
    50% {
        bottom: 60px;
    }
    75% {
        bottom: 30px;
        }
    100% {
        bottom: 0px;
}
}


