*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#main>img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

#main #impostor img {
    object-fit: cover;
    position: absolute;
    top: 260px;
    left: 0px;
    width: 90px;
    height: 97px;
}

#loading img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#loading #overlay {
    display: initial;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(128, 128, 128, 0.384);
}

#overlay ion-icon {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 4;
    font-size: 100px;
    cursor: pointer;
}

#main #crewmate img {
    object-fit: cover;
    position: absolute;
    top: 440px;
    left: 590px;
    width: 85px;
}

#main #kill {
    /* display: none; */
    position: absolute;
    width: 120px;
    right: 3%;
    bottom: 10%;
}

#kill .overlay {
    display: initial;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.575);
}

#kill img {
    position: absolute;
    width: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kill img:hover {
    width: 85px;
    cursor: pointer;
}

#animation {
    height: 100%;
    width: 100%;
}

#animation img{
    height: 0;
    opacity: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}