@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    background-color: #011F3F;
}

#lvl-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin: 5%;
    color: #FEF2BF;
    letter-spacing: 2.5px;
}

.container {
    display: block;
    width: 40%;
    margin: auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.btn {
    margin: 25px;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}