<%- include("partials/header")-%>
<h1>Contact</h1>
<p><%=Contact%></p>
<a class="link" href="https://www.linkedin.com/in/vikas-sharma-263b24232/">LinkedIn</a>
<a class="link" href="https://twitter.com/VikasSh26327403">Twitter</a>
<a class="link" href="https://www.instagram.com/sharma.vikas1/">Instagram</a>
<a class="link" href="https://www.facebook.com/profile.php?id=100054787733275">Facebook</a>
<%- include("partials/footer")-%>
