html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score-data {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#score-label {
  font-size: 1em;
  font-weight: 900;
}

#score-value {
  margin-left: 5px;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}
#restart:hover {
  transform: scale(1.1); /* Increase the size by scaling up */
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); /* Add a shadow effect to the button */
}
#perfect {
  position: absolute;
  font-weight: 500;
  font-size: larger;
  opacity: 0;
  transition: opacity 2s;
}
