.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login > img {
  height: 200px;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
}
