body{
  background-image: url("https://img.freepik.com/premium-photo/school-supplies-stationery-blue-background-back-school-concept-with-copy-space-text-flat-lay-top-view-mockup-free-space_73683-3054.jpg?w=2000") ;
}
#clocks{
  color: aqua;
}
.clock {
    position: relative;
	margin: auto;
	height: 40vw;
	width: 40vw;
	background: url("https://www.codeproject.com/KB/Articles/5356426/clock3.png")
  no-repeat;
	background-size: 100%;
  }
  
  .hand {
    position: absolute;
    background-color: #100f0f;
    transform-origin: bottom center;
    top: 25%;
  }
  
  .hour-hand {
  width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
  border-radius: 2em;
	opacity: 0.8;
  }
  .minute-hand {
    background-color: #100f0f;
   width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
  border-radius: 2em;
  }
  
  .second-hand {
    position: absolute;
	background: rgb(235, 47, 47);
	border-radius: 10px;
	transform-origin: bottom;
  width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
  }

 /* todolist */

  body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #283b43;
  }
  
  h1 {
    text-align: center;
    color: #ccc;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
    text-align: center;
    border-bottom: 2em black;
  }
  
  li {
    margin-bottom: 5px;
    cursor: pointer;
    border: 0.80ex solid #283b43;
    border-radius: 5px;
  }
  
  .strikethrough {
    text-decoration: line-through;
    opacity: 0.7;
    color: brown;
    
  }
  
  .delete {
    float: right;
    font-weight: bold;
    color: red;
  }
  ul{
    background-color:aquamarine;
}