
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(244,240,240);
    background: linear-gradient(180deg, rgba(244,240,240,1) 0%, rgba(244,118,107,1) 99%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120vh;
    /* overflow-y: hidden; */
}

.title{
    /* padding-bottom: 3%; */
    color: rgb(107, 30, 2);
}

.container{
    display: flex;
}
.value_inp{
    font-size: 1.2rem;
    font-weight: 600;
    width: 30%;
    margin: auto;
    padding: 3%;
    background-color: aliceblue;
    border-radius: 10px;
    -webkit-box-shadow: -7px 0px 93px 19px rgba(0,0,0,0.23);
    -moz-box-shadow: -7px 0px 93px 19px rgba(0,0,0,0.23);
    box-shadow: -7px 0px 93px 19px rgba(0,0,0,0.23);
}

label{
    display: block;
    text-align: left;
}

select{
    font-weight: 650;
    width: 100%;
    margin: 5% 0;
    border: hidden;
    border-radius: 2px;
    padding: 2%;
}

.btn{
    font-size: 1.3rem;
    width: 40%;
    border: 5px solid brown;
    border-radius: 5px;
    font-weight: 600;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  #closebtn {
    margin-top: 10px;
    width: 40%;
    border: 5px solid brown;
  }


  @media only screen and (max-width: 786px) {
    body {
      font-size: 14px;
      /* height: auto; */
      overflow-y: hidden;
      margin-top: 10%;
    }
  
    .title{
        padding-bottom: 11%;
    }
    .container {
      flex-wrap: wrap;
    }
  
    .value_inp {
      width: 80%;
      padding: 2%;
    }
    
    .btn {
      width: 60%;
    }
  
    select {
      margin: 2% 0;
    }
  
    .popup-content {
      width: 90%;
      padding: 10px;
    }
  
    #popup-result{
        font-size: 20px;
    }

    #closebtn {
      width: 60%;
    }
  }